[2017-01-29 21:02] renatomcamilio opened #1 "Move team and projects from Asana to GH"
- [x] CwB Main project
- [x] Refugee Lawyer
- [ ] Helping Hands?
- [ ] Junior Dev Training Ground?

[2017-01-29 21:02] renatomcamilio opened #2 "Setup CwB Organization level Project"

[2017-01-29 21:04] renatomcamilio opened #3 "Build Organization Wiki"
The wiki will contain documents and plans for the organization. We are not sure about the access/permissions yet, but we may refer to internal/private docs from the Wiki, but not put sensitive info directly there.

[2017-01-29 21:05] renatomcamilio opened #4 "Web Presence"
- [x] Simple website (or even a single page)
- [x] Contains about group info and small biographies for each of us
- [x] project portfolio
- [x] host on GitHub Pages
- [x] point the domain @98chimp holds to the GH Page

[2017-01-29 21:05] renatomcamilio opened #5 "Organization Structure"
- Determine organizational structure
- purpose/mission
- goals going forward
- rules around creating CWB projects
- how will other people be involved
- financial considerations

[2017-01-29 21:06] renatomcamilio opened #6 "Legal considerations of name"
- Look into legalities of using "without borders" moniker.
- If we use this name do we have to allow free entry? How do other groups handle this?

[2017-01-29 21:07] renatomcamilio commented on #6
@abbeyjackson just to quote from Asana"

[2017-01-29 21:08] renatomcamilio opened #7 "Introduction letter to legal representatives in every state"
Apparently Massimo finished this one (can't mention or assign to him since he didn't accept the invite yet)

[2017-01-29 21:27] renatomcamilio commented on #7
Wrongly put under "org" repo -- it's lawyers project

[2017-01-29 21:27] #7 closed

[2017-01-30 00:30] renatomcamilio commented on #1
@abbeyjackson I think I've moved everything regarding CwB and Refugee Lawyer to this Project; Let me know if you need help on Helping Hand / Junior Dev [...];

[2017-01-30 04:03] abbeyjackson commented on #6
We also need to check about the group that calls themselves coders without borders:
http://cowobo.org/

At first glance they seem like a fully operational group but nothing on the website actually works

[2017-01-30 04:06] abbeyjackson commented on #4
@renatomcamilio Let's go forward with a simple one page thing. We should have something online to identify ourselves to help with legitimacy and trust when contacting lawyers and orgs.

Do you have time / want to do that? @98chimp has the domain registered already.

[2017-01-30 04:08] abbeyjackson commented on #5
Closing this issue and moving these topics to our Meetings discussion board

[2017-01-30 04:08] #5 closed

[2017-01-30 04:10] renatomcamilio commented on #4
Sure thing. I'll need a initial sketch, can be a paper & pen kind of thing, and I'm happy to put it together and setup everything.

[2017-01-30 04:22] renatomcamilio commented on #4
Ok, updated the issue description with the TODO actions.

[2017-01-30 05:14] abbeyjackson opened #8 "Promotional / Public Introduction guidelines"

[2017-01-30 05:14] abbeyjackson opened #9 "New Project Guidelines and procedure for starting one"

[2017-01-30 05:14] abbeyjackson opened #10 "Meeting notes section"

[2017-01-30 05:14] abbeyjackson opened #11 "Organizational Structure (who to contact about what)"

[2017-01-30 05:14] abbeyjackson opened #12 "Communication Guidelines"
Where we will chat, where we will store files, etc

[2017-01-30 05:14] abbeyjackson opened #13 "Procedure for involving a volunteer"

[2017-01-30 05:14] abbeyjackson opened #14 "Procedure for adding a new tool"

[2017-01-30 05:14] abbeyjackson opened #15 "Tools"

[2017-01-30 05:15] abbeyjackson opened #16 "Guiding Principles / Manifesto"

[2017-01-30 05:15] abbeyjackson opened #17 "Mission Statement and Elevator Pitch"

[2017-01-30 05:20] abbeyjackson opened #18 "Set up initial GH project mgt boards"
Add boards and tasks and create related wiki pages to link to

[2017-01-30 05:45] abbeyjackson opened #19 "Guidelines for web projects / template"
Come up with a description of how projects should be set up. I'm not familiar with web but any tools, what language to use, where to host, etc.

[2017-01-30 05:46] abbeyjackson opened #20 "Web style guide"

[2017-01-30 05:46] abbeyjackson opened #21 "iOS - Swift Style Guide"

[2017-01-30 05:49] abbeyjackson opened #22 "iOS template project"
- base VC class to inherit from
- folder structure and targets set up
- most common used libraries

[2017-01-30 06:13] abbeyjackson commented on #18
Github Team: https://github.com/orgs/CodersWithoutBordersTech/teams/founders

Org: https://github.com/CodersWithoutBordersTech/org
- Meetings: https://github.com/CodersWithoutBordersTech/org/projects/3
- Tasks: https://github.com/CodersWithoutBordersTech/org/projects/2
- Wiki: https://github.com/CodersWithoutBordersTech/org/projects/4

Refugee Lawyers: https://github.com/CodersWithoutBordersTech/r

[2017-01-30 06:13] #18 closed

[2017-02-03 21:47] renatomcamilio commented on #2
Done!

[2017-02-03 21:47] #2 closed

[2017-02-04 18:22] abbeyjackson opened #23 "Non-Profit status"
Register federally

[2017-02-04 18:23] abbeyjackson opened #24 "Send Shahin $"
Initial funds to cover registrations and hosting

[2017-02-04 18:23] abbeyjackson opened #25 "Meeting Space"
Reach out to tech groups like Network Hub to request meeting space

[2017-02-04 18:24] abbeyjackson opened #26 "Trademarks"
Find the costs, procedures, and any relevant links/forms for trademarking in both Canada and the US

[2017-02-04 18:25] abbeyjackson opened #27 "Connect Shahin and Kyle"
Kyle has recently started a tech related NPO, connect with Shahin

[2017-02-04 18:27] abbeyjackson opened #28 "Look for Suitable mentorship"
We are in need of mentors and eventually a board of advisers.

Find information about people who would be suitable in this role.

*** IMPORTANT ***
Speak to the group BEFORE reaching out to anyone. Ideally we collect a list of names and based on the list we reach out to the specific people that together will harmoniously fill the gaps in our knowledge.

[2017-02-04 18:29] abbeyjackson opened #29 "Brainstorm name"
Sunday deadline

Please reply here with name ideas and on Sunday we will discuss
@renatomcamilio @northtwilight @98chimp

[2017-02-04 18:31] abbeyjackson commented on #1
All done!

[2017-02-04 18:31] #1 closed

[2017-02-04 18:32] abbeyjackson opened #30 "Website content"
Create a document with website content so that each person has a chance to edit the information before Renato makes our basic website

**Website content**: https://drive.google.com/drive/folders/0B7AilusWlJgMN3NEblZoNTNSZnc

[2017-02-04 22:32] renatomcamilio commented on #29
CSA: Cognitive Surplus Academy

[2017-02-04 22:42] renatomcamilio commented on #29
Geeks United

[2017-02-04 22:45] abbeyjackson commented on #29
ICU: International Coders United
THE: Technological Humanitarian Oraganization... then projects could be THE Hatchery
Spare Minds
GU: Geeks United, the GU Hatchery

[2017-02-04 22:46] abbeyjackson commented on #29
Global Minds

[2017-02-04 22:49] renatomcamilio commented on #29
THE: Technological Humanitarian Oraganization... then projects could be THE Hatchery
Spare Minds

[2017-02-04 22:49] renatomcamilio commented on #29
GU: Geeks United, the GU Hatchery or Geek Hatchery

[2017-02-04 22:52] renatomcamilio commented on #29
Global Coding for Change

[2017-02-04 22:56] renatomcamilio commented on #29
PHD: Progressive Humanitarian Developers

[2017-02-04 22:56] renatomcamilio commented on #29
Social Movement Coders

[2017-02-05 01:51] abbeyjackson commented on #29
Global Coders
Coders United
Coding Solutions

[2017-02-05 01:51] abbeyjackson commented on #29
Coding For Change

[2017-02-05 01:53] abbeyjackson commented on #29
Global Coding Consortium
Coding Mosaic
Programming Mosaic

[2017-02-05 02:36] renatomcamilio commented on #29
UBC: United Beavelopers of Canada 🇨🇦

[2017-02-05 02:36] renatomcamilio commented on #29
Social Resonance

[2017-02-06 05:53] renatomcamilio commented on #30
https://docs.google.com/document/d/1j-ykdUmc5vVttOHZQRWnEphXP9IWJeTPUz6Sr208mHA/edit#heading=h.193dcvodwt5q

[2017-02-06 15:59] abbeyjackson commented on #30
@renatomcamilio Will you close this when you get the content online or do you want to make a new issue for that and I can close this now?

[2017-02-08 02:10] #27 closed

[2017-02-08 02:12] abbeyjackson opened #31 "Online Presence"
Twitter, Facebook, LinkedIn, reddit, instagram, snapchat (?), github, bitbucket (note some of these are already done)...  I can't think of anywhere else we should be.

Also just tacking this on here need to change the name in the logo so we are uploading the correct image.

@98chimp please post here the list of usernames and domains we have and also which email username is associated with them (yo

[2017-02-11 04:24] abbeyjackson commented on #24
@98chimp @renatomcamilio can this issue be closed?

[2017-02-11 04:25] abbeyjackson commented on #30
@renatomcamilio what is your timeline with the webpage? There is no deadline I just would like an idea of where you're at / when to expect it.

[2017-02-11 04:26] abbeyjackson commented on #29
When we did our first vote the top names were:

Geeks United
Coders United
Profusion
Unanimous
Coders Without Borders
Social Resonance
Unanimous World

[2017-02-11 04:27] abbeyjackson commented on #29
I got three more names, two from devs who are interested in joining us and one from Justin:

Code Heroes
Me-nous
Bytes of Heart

[2017-02-11 04:27] abbeyjackson commented on #29
@renatomcamilio @northtwilight @98chimp

[2017-02-11 20:00] renatomcamilio commented on #24
@abbeyjackson I think the series A funding is closed! :)

[2017-02-11 20:00] #24 closed

[2017-02-11 20:20] renatomcamilio commented on #30
@abbeyjackson working on it, should have it ready by EOD today! ty for the remind!

[2017-02-12 08:20] abbeyjackson commented on #4
Just moving this into In Progress as I know you are working on it @renatomcamilio

[2017-02-12 08:20] abbeyjackson commented on #30
Closing this issue as we have the content in a doc

[2017-02-12 08:20] #30 closed

[2017-02-12 08:22] abbeyjackson commented on #3
To address the opening comments: Our wiki is on github and sensitive information will be kept in google docs.

[2017-02-20 05:24] 98chimp opened #32 "Group Decision-Making Process"
- [ ] framework outline
- [ ] elaborate framework into a document
- [ ] add the completed document to org wiki

[2017-02-20 05:32] #29 closed

[2017-02-20 05:35] 98chimp opened #33 "Revise Logo"
Going to repurpose the existing logo so we can move forward quicker.

In due course, we may choose to change it.

[2017-02-20 06:01] 98chimp commented on #31
- [ ] Twitter
- [ ] Facebook
- [ ] LinkedIn
- [ ] reddit
- [ ] instagram
- [ ] snapchat
- [ ] github
- [ ] bitbucket

[2017-02-25 19:01] northtwilight commented on #25
**Suitable candidates for working space**

1. HiVE Vancouver, 2nd floor, 128 W Hastings - We often overlook this space as it's on the way to Lighthouse literally. However it's a notably women-friendly, progressively-minded space, and tends to be even more communitarian in focus than Launch Academy, hosting numerous organisations we should connect with, such as OpenData BC, Access to Media Society

[2017-02-26 02:00] abbeyjackson commented on #33
@98chimp this is done, right?

[2017-02-27 16:14] abbeyjackson commented on #25
@northtwilight Did you talk to any of these guys yet?

[2017-02-27 19:37] northtwilight commented on #25
Will happen today or tomorrow, I have to review each of their plans first so that I know what I'm asking about. I gather costs may be an issue with all three places (welcome to Vancouver, I guess) but we'll see.

Digression and side note:
One intriguing thing I'm seeing with HiVE Vancouver is that they offer coworking arrangements with the **[Centre for Social Innovation](https://socialinnovation.

[2017-02-27 19:39] northtwilight commented on #25
Shit, didn't mean to close this out.

[2017-02-27 20:05] abbeyjackson commented on #25
The idea is to find free meeting space so if cost is an issue we will just not use them.

They can have their logo on our website, which right now is just one page, and also on the About page of the wiki. Renato posted a link to the webpage, I don't know where it is. It's on github pages. I tried codedoesgood.github.io but that didn't work

[2017-02-27 21:25] northtwilight commented on #25
That's going to be tough to do.

[2017-02-27 21:26] abbeyjackson commented on #25
That's the whole point of this task, to find venues that will donate meeting space. We only need 1 slot a month.

[2017-02-27 21:30] northtwilight commented on #25
I'll look at VSB then.

[2017-02-28 17:48] northtwilight commented on #25
- Creative Coworkers contacted
- HiVE Vancouver contacted

Can't find contact details for the Network Hub but I'm heading into town today and can ask in person. Also VPL has free space available, with conditions (have to hold a regular [monthly?] event at the library, with the library, to promote literacy) that may or may not jibe with our priorities. Will keep looking.

[2017-03-01 03:56] northtwilight commented on #15
**[Padlock](https://padlock.io)** for open source, cross-platform (Win/Mac/iOS/Android/Chrome extension, Linux coming soon) password management. Cloud-sync component, GPL3 license.
Passwords not to be shared on open channels under any circumstances.

[2017-03-01 04:02] abbeyjackson commented on #8
unneeded

[2017-03-01 04:02] #8 closed

[2017-03-01 04:02] abbeyjackson commented on #9
unneeded

[2017-03-01 04:02] #9 closed

[2017-03-01 04:02] abbeyjackson commented on #10
unneeded

[2017-03-01 04:02] #10 closed

[2017-03-01 04:04] abbeyjackson commented on #20
unneeded

[2017-03-01 04:04] abbeyjackson commented on #19
unneeded

[2017-03-01 04:04] #19 closed

[2017-03-01 04:04] abbeyjackson commented on #17
unneeded

[2017-03-01 04:04] #17 closed

[2017-03-01 04:04] abbeyjackson commented on #16
unneeded

[2017-03-01 04:04] #16 closed

[2017-03-01 04:05] abbeyjackson commented on #15
unneeded (adding info to wiki directly)

[2017-03-01 04:05] #15 closed

[2017-03-01 04:05] abbeyjackson commented on #14
unneeded

[2017-03-01 04:05] #14 closed

[2017-03-01 04:05] abbeyjackson commented on #13
unneeded

[2017-03-01 04:05] #13 closed

[2017-03-01 04:05] abbeyjackson commented on #13
unneeded

[2017-03-01 04:05] abbeyjackson commented on #12
unneeded

[2017-03-01 04:05] #12 closed

[2017-03-01 04:05] abbeyjackson commented on #11
unneeded

[2017-03-01 04:05] #11 closed

[2017-03-01 04:06] #20 closed

[2017-03-01 04:09] abbeyjackson opened #34 "DH Wiki - Chris"
All Hatchlings will be required to go through our onboarding. Onboarding will consist of reading specific articles about our processes and procedures, our purpose, etc. In addition to onboarding there will be training articles which Hatchlings are urged to read but will not necessarily be required. This issue will detail specific articles to be written.

This issue is for the pages that @cmyers78

[2017-03-01 04:09] abbeyjackson commented on #34
- [ ] Holacracy / Distributed Authority

[2017-03-02 07:03] #6 closed

[2017-03-06 16:04] abbeyjackson opened #35 "Talk to Lighthouse re: Our Volunteer Software"
We would like to find out if any web students would like to make our volunteer software as their final project.

This software will be how we will keep track of our volunteers and project updates. It will include volunteer contact information and will also allow Lead Mentors to write evaluations of developers on their projects. In addition Lead Mentors will use the software to provide weekly updat

[2017-03-06 16:05] abbeyjackson opened #36 "Talk to RED about collaboration"
Given their extensive experience in mentoring new designers we would like to approach RED to see if they would be interested in using our projects for their students and possible administrating the design side of projects with new design volunteers. We are open to whatever arrangement could work best for them.

[2017-03-06 16:06] abbeyjackson commented on #34
@cmyers78 Hey Chris can we get a status update on this?

[2017-03-06 16:09] cmyers78 commented on #34
Sure.  I'm about finished my outline of material. There are a couple items I want to look into a bit further as I'm not coming up with good examples to relate to yet.    I will begin writing it up during my lunches this week.

My outline is here: [https://docs.google.com/document/d/1fclceC8MLxjf8hPf2erRxoThHEF7J6czMl9q1fRl48Y/edit?usp=sharing](url)

[2017-03-07 16:38] 98chimp commented on #33
right!

[2017-03-07 16:38] #33 closed

[2017-03-07 16:41] 98chimp opened #37 "Revise the guiding principle about distributed authority"
1. Use our technical skills To Do Good.
2. Provide an avenue for new developers to be mentored.
3. Involvement is fun, rewarding, purposeful and easy.
4. Lower financial barriers for non-profits seeking software solutions.
5. Set an example for how distributed authority/decision-making (aka Holacracy*) can work. Every individual is autonomous, masterful and has a purpose.
6. Be guided by socially

[2017-03-07 16:52] abbeyjackson commented on #34
@cmyers78 when you complete this can you please edit the link on this page:  https://github.com/CodeDoesGood/org/wiki/3.-Kanban-Procedures

just search the page for "Chris"

[2017-03-08 16:06] abbeyjackson opened #38 "Find Lawyer"
Find a lawyer to either work pro bono or to trade services

[2017-03-08 16:07] abbeyjackson commented on #35
@98chimp this ticket is in TODO, can I move it to in progress?

[2017-03-08 16:08] abbeyjackson commented on #33
@98chimp Don't forget to move from InProgress to Done when you close an issue. I moved this one but FYI, closing a ticket doesn't automatically move it

[2017-03-08 16:08] abbeyjackson commented on #25
@northtwilight How's this coming?

[2017-03-08 16:09] abbeyjackson commented on #4
@renatomcamilio As our web guy can you start thinking about how to turn our one web page into a full website that will represent us? You don't have to do the work alone, if you want volunteers let me know. If you need design ping Shahin.

[2017-03-08 16:10] abbeyjackson commented on #3
Just an update, several pages are complete and are going through editing. About 25-30% of the wiki is done.

[2017-03-08 18:21] renatomcamilio commented on #4
@abbeyjackson for sure! I'll put together some alternatives to achieve that, and will ask for input from you guys based on a *pros & cons* sorta list.

[2017-03-08 18:34] northtwilight commented on #25
HiVE only allows meeting space 9 to 5 M-F. I'm asking if we can use a non-meeting room space (an open area will do) if they provide it.

Also they've put me in touch with PeaceGeeks also in the same space. Following up but it's more likely for general interest, not this issue specifically.

[2017-03-08 18:56] abbeyjackson commented on #25
That actually brings up something else. I'm going to make a note on our Meeting board, listing groups doing things similar to us. We should talk about them and how we'd like to approach them / if we want to.

[2017-03-08 18:58] abbeyjackson commented on #25
@northtwilight it's in the To Discuss column, can you edit and add the ones you know about? I have a list to add also I will add later when I have time:
https://github.com/CodeDoesGood/org/projects/3

[2017-03-08 21:48] abbeyjackson opened #39 "Write Web new project set up instructions"
Should include all steps including what to do in terminal to set up your environment properly, special instructions on adding to github, etc.

[2017-03-08 21:48] abbeyjackson opened #40 "Create Web Template Project"
For Node.js

Don't forget gitignore

[2017-03-08 21:48] abbeyjackson opened #41 "Create Web Style Guide"

[2017-03-08 21:48] abbeyjackson opened #42 "Write Web suggested libraries"
Add to https://github.com/CodeDoesGood/org/wiki/4.-Recommended-Libraries

[2017-03-08 22:38] abbeyjackson opened #43 "Summary write up for volunteer recruitment"
This is to give to volunteers who want to know about the organization so they can decide if they want to learn more. Should cover in brief who we are, what our purpose is, why we need volunteers, and what they would be doing.

[2017-03-08 22:45] abbeyjackson opened #44 "Summary write up for non-volunteers"
To give to non-volunteers who want to know about the organization. Like media, other organizations, etc

[2017-03-08 22:48] abbeyjackson opened #45 "Create learning tracks for zero experience devs"
We do not take developers with zero experience into the Dev Hatchery as we are not a learn to code program we are instead a training program to give *new* devs experience. We will however find that we are contacted by people with no experience who want to learn to code and join us. We will have learning tracks for all of our platforms to refer these people to for self-learning before applying to t

[2017-03-09 02:16] abbeyjackson commented on #41
https://github.com/CodeDoesGood/iOS-Style-Guide/blob/master/README.md

[2017-03-10 20:24] abbeyjackson opened #46 "DH Wiki- Ehsan"
All Hatchlings will be required to go through our onboarding. Onboarding will consist of reading specific articles about our processes and procedures, our purpose, etc. In addition to onboarding there will be training articles which Hatchlings are urged to read but will not necessarily be required. This issue will detail specific articles to be written.

This issue is for the pages that @ezaman is

[2017-03-12 22:02] abbeyjackson opened #47 "Credential info (instructions etc) in GDrive"

[2017-03-12 22:02] abbeyjackson commented on #21
https://github.com/CodeDoesGood/org/wiki/4.-Style-Guide

[2017-03-12 22:02] #21 closed

[2017-03-14 04:14] abbeyjackson commented on #34
Assigned Shahin as reviewer

[2017-03-14 15:23] abbeyjackson commented on #34
Forgot to add link:
https://github.com/CodeDoesGood/DevHatchery/wiki/Distributed-Authority

[2017-03-14 15:24] abbeyjackson commented on #23
@98chimp Moving this to InProgress since I know you are working on the forms

[2017-03-23 06:12] renatomcamilio commented on #31
I've marked LinkedIn in the checklist as @abbeyjackson have already set one for us!

[2017-03-23 15:22] abbeyjackson commented on #46
@ezaman can I please get an update on these articles?

[2017-03-23 15:23] abbeyjackson commented on #38
Spoke with Tom from Vancouver Legal Hackers, he is very eager to work together. @98chimp is following up with him. They have a meetup on the 27th at least one of us should attend.

[2017-03-23 15:26] abbeyjackson commented on #31
@northtwilight @98chimp @renatomcamilio We have a LinkedIn company page, feel free to add it to your LinkedIn. If you add it as volunteer experience it shows up on your profile under your name but it is way down the page so I added it as both volunteer and job experience.

<img width="506" alt="screen shot 2017-03-23 at 8 25 02 am" src="https://cloud.githubusercontent.com/assets/11657280/24255274/

[2017-03-23 15:26] abbeyjackson commented on #23
@98chimp I know we talked but can you update this issue with your status so the others can see? Merci!

[2017-03-24 02:46] abbeyjackson commented on #36
Closing as we are taking a new approach

[2017-03-24 02:46] #36 closed

[2017-03-28 18:49] REWMassimo opened #48 "Password management & security"
- Explore password management for core accounts
- Need distributed access and management
- Secure access to keys
- Preferably open source if possible
- Preferably free if possible
- Personal password management tools not likely to do the job (due to the distributed & encryption requirements)

[2017-03-28 19:04] northtwilight commented on #48
So I’ve been looking at password management.

Originally I thought we would need to go paid with one of the existing password managers (1Password, LastPass, KeePassX, Padlock.io, etc etc etc) because nearly all of these limit features like synchronisation and distributed management to paid versions.

However I’ve just discovered a number of open source password managers expressly designed around t

[2017-03-31 15:47] abbeyjackson commented on #37
closing ticket as completed

[2017-03-31 15:47] #37 closed

[2017-03-31 15:48] abbeyjackson commented on #47
Closing ticket as new ticket was created (#48)

[2017-03-31 15:48] #47 closed

[2017-03-31 15:51] abbeyjackson commented on #23
As per our meeting @98chimp will research additional costs and work required to federally incorporate prior to non profit registration

[2017-03-31 15:53] abbeyjackson commented on #25
We now have a networking volunteer: @felicelam, reassigning this ticket to her.

Felice, we are in need of meeting space in the tech community. We are looking for one 3 hour meeting a month, prefer Thursday evenings if we have a choice to keep with tradition but we can make other days work if needed. We are open to it being one location or different locations. With different locations we could get

[2017-03-31 15:54] abbeyjackson commented on #35
Lighthouse students are not doing the software @renatomcamilio  is going to do it.

[2017-03-31 15:54] #35 closed

[2017-03-31 15:54] abbeyjackson commented on #4
Hey @renatomcamilio how is this coming? Is there anything anyone can help with?

[2017-03-31 15:55] abbeyjackson commented on #4
As per the last meeting Renato is going to try to find a way to auto populate the website with info from the wiki and contributors from github contributor page.

Also we should have a "senior volunteers" section, in the same way we have a founders section where we can highlight volunteers that go above and beyond.

[2017-03-31 16:02] abbeyjackson commented on #31
Closing this ticket as we have registered on the major networks. @northtwilight has a list of credentials and is building a way for us to keep them organized.

[2017-03-31 16:02] #31 closed

[2017-03-31 16:05] abbeyjackson opened #49 "Write volunteer coordinator onboarding document"
with screenshots so someone less technical can follow

[2017-03-31 16:07] abbeyjackson opened #50 "Onboard initial swath of volunteers"
We have 60+ responses to our intake form. Many of them have no email address.

1) Create spreadsheets for data
2) Track down email addresses.
3) Send initial question email gathering additional info
4) Onboard volunteers

[2017-03-31 16:08] abbeyjackson opened #51 "Find Android & Javascript volunteers"
We desperately need more Android and Javascript volunteers. At the moment (March 31, 2017) we have 5 iOS for every Android and JS

[2017-03-31 16:09] abbeyjackson commented on #51
Please share this URL when recruiting:
https://www.linkedin.com/pulse/volunteer-building-real-solutions-problems-abbey-jackson

[2017-03-31 16:10] abbeyjackson opened #52 "Find Design volunteers"
Our goal is to have 5 designers on hand so that no one designer feels obligated to take a project. Designers may bring on juniors to work with them and they can start a design hatchery wiki if they want however that would be their own initiative as we do not have the resources without a larger community to run a design hatchery ourselves.

Please share this URL when recruiting:
https://www.linkedi

[2017-03-31 16:11] abbeyjackson commented on #38
@98chimp please keep this ticket updated with any additional information after speaking with Tom and Joshua

[2017-03-31 16:12] abbeyjackson commented on #22
Spoke with @cmyers78 and gave guidelines on what the template project needs to contain

[2017-03-31 16:12] abbeyjackson commented on #26
Moved to icebox as we need to be incorporated before going forward with trademark registration

[2017-03-31 16:13] abbeyjackson commented on #28
Moving to icebox because we are too busy right now to seek out mentorship networking

[2017-03-31 16:14] abbeyjackson opened #53 "Volunteer Software Web design"
Volunteer software is outlined in Google Drive

[2017-03-31 16:15] abbeyjackson commented on #53
@renatomcamilio will build the software

@98chimp is turning @abbeyjackson 's paper sketches to proper wireframes

[2017-03-31 17:03] abbeyjackson opened #54 "Make google calendar recurring event for new volunteers"
Make this on volunteers@codedoesgood.org and invite every new volunteer. The event should be general like:

"Remember to do your weekly updates.

If you have open tickets please update them -- all tickets are required to be updated weekly.

If you are a lead mentor on a project please make your weekly project update. If you are a lead mentor on a project that is coming to an end please submit comm

[2017-03-31 19:17] renatomcamilio commented on #4
@abbeyjackson the scope of this task has changed since I've started. We started off with the landing page (which is live right now) - but it then grew into the full website with sections, and then also populating content from our wiki. I'll break down into cards that reflect that situation so we can track progress with more confidence.

[2017-03-31 19:19] #4 closed

[2017-03-31 19:21] renatomcamilio opened #55 "Break our landing page (single page) into a website (multiple pages + webapp)"
## Description will come soon...

[2017-03-31 19:25] renatomcamilio opened #56 "Write microservice to update our website content based on our wiki"
## Description will come soon...

[2017-04-01 02:10] abbeyjackson opened #57 "Find a social media volunteer"
We weren't planning to really do much with social media to start but messages are coming in and people are getting excited about us right off the bat. We need someone to take full ownership of the social media accounts. If they only want to man them for messages that is okay or they can post things also.

[2017-04-01 02:21] abbeyjackson commented on #54
Created Google Calendar and invited all current volunteers and founders

[2017-04-01 02:21] #54 closed

[2017-04-01 03:44] abbeyjackson opened #58 "Make list of all places to post to find volunteers"
@abbeyjackson has been posting to recruit developers and other volunteers but so far has not kept track of where these posts are.

Go through posting history and compile a list of where posts were made for future volunteer call outs.

[2017-04-01 03:48] abbeyjackson opened #59 "Generate volunteer lists/reports"
After initial swath of volunteers have gone been giving their onboarding generate reports as follows:

- Designers (those with some experience not those interested)
- Mentors split by platform
- Developers who have other platform experience (ex Rails, PHP, Python, etc, do not need to organize by type of platform)
- Developers who want to do other things like write (do not need to organize by type

[2017-04-01 06:44] abbeyjackson commented on #51
I am closing this ticket because we are closer to a 1:2 ratio now and I am satisfied with that. We don't need to actively recruit more, we already have almost 100 respondents!

[2017-04-01 06:44] #51 closed

[2017-04-01 20:49] 98chimp commented on #23
As discussed previously, the actual action of submitting a non-profit status for the org requires that the org be either incorporated or registered as a partnership. Either of these choices requires some legal counsel. Steps have been taken to establish contact with legal professionals and/or entities that may be willing to do a service swap with us so that we can lower/eliminate our upfront costs

[2017-04-01 20:52] 98chimp opened #60 "Track Expenses"

[2017-04-01 20:54] 98chimp commented on #60
Founders have been invited to a G-Sheet that includes all a history of all contributions and expenses (one-time and recurring).

[2017-04-02 02:41] 98chimp commented on #38
A follow-up email was sent to Tom & Joshua (of Legal Hackers) to connect us with their network of legal professionals/entities.

[2017-04-02 23:19] 98chimp commented on #53
[CDG_Volunteer_Site_01.pdf](https://github.com/CodeDoesGood/org/files/888727/CDG_Volunteer_Site_01.pdf)
[CDG_Volunteer_Site_02.pdf](https://github.com/CodeDoesGood/org/files/888730/CDG_Volunteer_Site_02.pdf)
[CDG_Volunteer_Site_03.pdf](https://github.com/CodeDoesGood/org/files/888729/CDG_Volunteer_Site_03.pdf)
[CDG_Volunteer_Site_04.pdf](https://github.com/CodeDoesGood/org/files/888731/CDG_Volunte

[2017-04-02 23:20] 98chimp commented on #53
all screens have now been digitized with a slight modification to fit the sketched content into the frame of a generic web browser

[2017-04-02 23:45] cmyers78 commented on #34
Ongoing task for multiple wiki articles

[2017-04-03 00:02] renatomcamilio commented on #53
ty @98chimp!

[2017-04-03 01:58] cmyers78 commented on #34
Began outline for Confidence Building & Impostor Syndrome - Time line to complete this article is Friday, 7 April

[2017-04-03 01:59] cmyers78 commented on #22
This week I will begin working on the template.

[2017-04-03 02:10] abbeyjackson commented on #43
I'm going to close this ticket because I think the Linked In post is perfect -- we've had a lot of positive returns on it so I think it explains things well and they can go to the wiki if they want more detailed info.
https://www.linkedin.com/pulse/volunteer-building-real-solutions-problems-abbey-jackson

[2017-04-03 02:10] #43 closed

[2017-04-03 02:11] abbeyjackson commented on #44
I'm going to close this ticket because I think the Linked In post is perfect -- we've had a lot of positive returns on it so I think it explains things well and they can go to the wiki if they want more detailed info.
https://www.linkedin.com/pulse/volunteer-building-real-solutions-problems-abbey-jackson

[2017-04-03 02:11] #44 closed

[2017-04-03 03:31] 98chimp commented on #53
@abbeyjackson when you get a chance, could you kindly take a peak at these PDFs. FYI, I left out the description notes with the intention of adding them back to the PDF using comments/annotations (which I will do early this week)

[2017-04-03 03:34] renatomcamilio commented on #53
@98chimp @abbeyjackson I would like to bring up Zeplin (https://zeplin.io/); It's an amazing tool for this kind of collaborations (i.e. discussing over design, adding comments to screens, and it supports Sketch files import -- which would give layout specs info in a snap, pretty awesome)

[2017-04-03 03:35] abbeyjackson commented on #53
@renatomcamilio @98chimp actually Shahin had earlier said we were going to be using Zeplin lol

Will check out the pdfs tonight :)

[2017-04-03 03:36] renatomcamilio commented on #53
that's awesome, guys!

[2017-04-03 03:36] 98chimp commented on #53
i'll put the screens inside a Sketch project file and re-distribute through Zeplin

[2017-04-03 04:19] abbeyjackson commented on #53
@98chimp great job getting these done!

Changes needed:

- pdf 2, on New Project - Change "Not Interested" button to say "I'm Interested"
- pdf 4, not sure what do you think? Could we make the big text view span 2 columns? Have it under everything in the first column as well as the summary in the middle column? That way if it ends up being a 2 page scroll it won't be only 1/3 of the page used. Or

[2017-04-03 05:46] felicelam commented on #57
Please let's discuss at our next meeting on 4/06.

[2017-04-03 05:53] northtwilight commented on #60
It would be really cool if we could use a blockchain of some sort for verification purposes.

[2017-04-03 05:59] felicelam commented on #25
Earlier this week, I checked out this tech coworking space in Gastown. Info: http://www.tribespace.ca/ I'm investigating through other tech startup friends. I'll keep you posted as I get answers.

[2017-04-03 14:43] 98chimp commented on #60
verification of what? not sure i follow

[2017-04-03 14:55] abbeyjackson commented on #60
fyi I just edited your original comment Shahin to reflect the changed structure (instead of a shared file the file is now in the Accounting + Finance folder

[2017-04-03 16:04] REWMassimo commented on #60
I don't know, I was thinking of situations when we might have to prove expenses as occurring or recurring.

[2017-04-04 06:23] renatomcamilio commented on #56
Moved to [org-website tasks](https://github.com/CodeDoesGood/org-website/projects/1)

[2017-04-04 06:23] #56 closed

[2017-04-04 06:23] renatomcamilio commented on #55
Moved to [org-website tasks](https://github.com/CodeDoesGood/org-website/projects/1)

[2017-04-04 06:23] #55 closed

[2017-04-07 14:54] abbeyjackson commented on #40
@renatomcamilio as discussed this won't be quite the same kind of all encompassing template as iOS and Android but do whatever makes sense for Web

[2017-04-07 15:01] abbeyjackson commented on #58
In Google drive, separated between which places have been posted to and which have not but can be in the future

[2017-04-07 15:01] #58 closed

[2017-04-07 15:02] abbeyjackson commented on #38
As discussed at the meeting we will go ahead with our incorporation and non profit status while we are searching for legal partnership

[2017-04-07 15:03] abbeyjackson commented on #23
As discussed at meeting we will go ahead with this rather than waiting for legal partnership. @98chimp will have papers ready to sign at the next meeting.

[2017-04-07 15:03] abbeyjackson commented on #3
All organizational pages are done and I am now working through project specific information as we figure out how we want that to work.

[2017-04-07 15:15] abbeyjackson commented on #53
As discussed at meeting and on Slack @renatomcamilio  will be making tickets for the software and deciding on technologies needed. At that point we will assign a team of volunteers to work on it.

[2017-04-07 15:17] 98chimp commented on #53
wise decision

[2017-04-07 15:18] abbeyjackson opened #61 "Design wiki"
Write a design wiki page explaining the tools we will use and process

[2017-04-07 15:19] abbeyjackson opened #62 "Write iOS new project set up instructions"

[2017-04-07 15:22] ezaman commented on #46
Currently still working on MVVM article and making changes to MVC as well.

[2017-04-07 15:37] abbeyjackson opened #63 "Prioritize volunteer onboarding"
Vancouver, BC volunteers (Richmond, Burnaby, North Vancouver, West Vancouver, New Westminster, Coqiutlam, Surrey, White Rock, Port Coquitlam, Ladner, Delta) as well as business volunteers and female volunteers should be prioritized

[2017-04-07 15:44] abbeyjackson opened #64 "Onboard temporary coordinators to get through the backlog"
Go through business volunteer list and onboard anyone who said they were interested in volunteer coordination. Let them know this is a temporary role and we will revisit their skills etc once we get all the applicants onboarded

[2017-04-07 15:45] abbeyjackson opened #65 "Social Media updates"
Change email address on all social media accounts to use volunteers@... (get credentials from Massimo).

Also set up a snapchat account

[2017-04-07 15:46] abbeyjackson opened #66 "Create list of designers"
This is mentioned in the create volunteer reports ticket also but please just a special mention this list must go to Shahin

[2017-04-07 15:55] abbeyjackson commented on #49
This document should include the following:

- Step 1
- Step 2
- Step 3
- Email one more time if you do not get a response to step 1 and then grey their line out to indicate they've had 2 emails and to stop following up until they respond and go to step 2
- Weekly go through Slack for volunteers that were added that week. Add them to their appropriate channels and check their Slack bio. If it is n

[2017-04-07 19:46] abbeyjackson commented on #57
We've got 3 or 4 people interested in social media, should be able to find someone from that group

[2017-04-07 19:46] #57 closed

[2017-04-07 20:21] northtwilight opened #67 "Fetch basic agreement templates from Small Business Centre of BC (@ Waterfront)"

[2017-04-07 20:25] northtwilight opened #68 "Visit the Enterprising Non-Profits of BC office (UBC downtown office; see note) for more resource"
https://sba.ubc.ca/bc-business-support-directory/enterprising-non-profits

(604) 871-5421
Contact Person: Kim Buksa, Program Coordinator
kim@enterprisingnonprofits.ca (link sends e-mail)
810 - 815 W. Hastings Street
Vancouver
British Columbia
V6C 1B4
http://www.enterprisingnonprofits.ca/

Will contact Monday or Tuesday depending on schedule

[2017-04-07 20:29] northtwilight opened #69 "Connect with social enterprise entities throughout Canada"
Assembled resources from here
https://www.google.ca/search?q=socialenterprise+canada&oq=socialenterprise+canada&aqs=chrome..69i57j0l5.9790j0j1&sourceid=chrome&ie=UTF-8

1. https://socialenterprisecouncilcanada.wordpress.com/about__trashed/enp-landing-page/

2. http://www.centreforsocialenterprise.com/

3. https://www.socialenterprisecanada.ca/

4. http://www.csef.ca/

5. http://canadabusiness.ca/s

[2017-04-10 00:31] cmyers78 commented on #34
Revising section on Confidence Building and adding bridging sentence into Impostor Syndrome.

[2017-04-10 07:04] kaychandotcom commented on #65
Accounts created so far:

- AngelList
- Facebook Business
- Facebook Page
- Flickr
- Google
- Gravatar
- Imgur
- Instagram
- Medium.com
- Meetup (member only, custom url for a group is min USD$10/mth , max $15/mth)
- Pinterest
- Reddit
- Tumblr
- Twitch.tv
- Twitter
- Vimeo
- Wordpress
- Yahoo (used for Flickr login)
- Youtube (channel needs to be 30 days old before qualifies for custom url)

[2017-04-10 07:09] kaychandotcom opened #70 "Create list of art assets needed for Social Media accounts"
For each social media account, gather dimensions needed for profile pics, banners and backgrounds (if applicable).
Include special notes for most optimal display and layout.

[2017-04-10 12:28] dimpiax opened #71 "[Wiki] Broken links"
At https://github.com/CodeDoesGood/org/wiki
*Promotional Guidelines* link is broken, there is:
`https://github.com/CodeDoesGood/org/wiki/1.-Promotional-Guidelines-*`,
when correct is:
`https://github.com/CodeDoesGood/org/wiki/1.-Promotional-Guidelines`

#8

[2017-04-10 12:55] cmyers78 commented on #8
Fixed the link

[2017-04-11 15:50] REWMassimo commented on #48
Not sure if any of these have any mobile versions. Passbolt does not, yet.
Really wanted to like Passbolt, but their browser plugins appear to be glitchy and somewhat broken.
Testing Vaultier next.

[2017-04-11 15:51] REWMassimo commented on #68
No longer exists? Phone number doesn't route, email doesn't get delivered

[2017-04-11 17:13] abbeyjackson commented on #68
The url enterprisingnonprofits.ca forwards to
http://vancitycommunityfoundation.ca/s/social_enterprise_development.asp

[2017-04-13 00:54] abbeyjackson commented on #64
Many people have jumped on to help! Go team!

[2017-04-13 00:54] #64 closed

[2017-04-13 00:55] abbeyjackson commented on #50
With the help of several development volunteers we've gotten through the backlog! Go Team!

[2017-04-13 00:55] #50 closed

[2017-04-13 00:56] abbeyjackson commented on #23
Incorporation papers are signed and @98chimp is working on filing

[2017-04-13 00:56] abbeyjackson commented on #66
Using a special reports spreadsheet instead

[2017-04-13 00:56] #66 closed

[2017-04-13 00:57] abbeyjackson commented on #63
done

[2017-04-13 00:57] #63 closed

[2017-04-13 00:58] abbeyjackson commented on #59
Using a special reports spreadsheet instead

[2017-04-13 00:58] #59 closed

[2017-04-13 00:58] abbeyjackson commented on #49
completed in Recruiting folder

[2017-04-13 00:58] #49 closed

[2017-04-13 00:58] abbeyjackson commented on #22
@cmyers78 hey Chris, where you at with this?

[2017-04-13 01:00] abbeyjackson opened #72 "Write wiki / document explaining our volunteer roles"
MAIN ROLES
Project Administrator
Volunteer Coordinator
Social Media

SECONDARY
Outreach Team
Volunteer Team

[2017-04-13 01:01] #67 closed

[2017-04-13 02:52] cmyers78 commented on #22
I have created a project on the iOS Template repo and added cards for the outlined tasks.  Template created, but not finished on iOS-Template repo.  Gitignore file created and added as well.  Starting on Podfile next.

[2017-04-13 04:51] abbeyjackson opened #73 "Write up meeting notes"

[2017-04-13 04:51] abbeyjackson opened #74 "Staff business teams"

[2017-04-13 06:04] felicelam commented on #38
Put out a call to a lawyer friend to see if he knew anyone who could help us.

[2017-04-13 06:29] felicelam commented on #25
In communication with the space. More via Slack.

[2017-04-14 21:51] ezaman commented on #46
Almost done, will upload all by end of weekend.

[2017-04-15 20:47] abbeyjackson commented on #46
@ezaman fantastic! Thanks for keeping your ticket updated :)

[2017-04-17 01:48] cmyers78 commented on #34
Have not gotten to start on Impostor Syndrome yet.  This is a light week of work so I should be able to work on it during my lunch hour.

[2017-04-17 01:50] cmyers78 commented on #22
Created Podfile today.  So far, Pods include: SwiftGen, CocoaLumberjack, Fabric & Crashlytics, Reusable, ReachabilitySwift

[2017-04-17 03:48] abbeyjackson commented on #74
The "outreach team" concept has been changes and is going to be the Business Ninjas. Editing this ticket to indicate it is about staffing the various teams outlined in the Volunteer Roles document

[2017-04-17 03:53] abbeyjackson opened #75 "Hold Volunteer SW name contest"
Hold a contest with our volunteers to name our volunteer software

[2017-04-17 03:53] abbeyjackson opened #76 "Add Dispute information to Communication wiki page"

[2017-04-17 03:54] abbeyjackson opened #77 "Write Estimate Wiki Page"
Should include how to estimate projects given our volunteer time and also information about milestones

[2017-04-17 03:54] abbeyjackson opened #78 "Write tools document for wiki"

[2017-04-17 04:56] abbeyjackson commented on #74
Each team should have 2-3 people doing the same role. Once the teams are staffed the organizational structure document needs to be updated

[2017-04-17 05:02] abbeyjackson commented on #62
@northtwilight and I wrote a first draft which all founders need to review and approve.

[2017-04-17 05:08] abbeyjackson commented on #3
I'm going to close this now @northtwilight and from here on we will make tickets for each page

[2017-04-17 05:08] #3 closed

[2017-04-17 05:52] abbeyjackson opened #79 "Get hi-res copies of photos for website"
Go through photos suggested by Kay and find the hi-res versions to give to Renato

[2017-04-24 00:06] abbeyjackson opened #80 "Helping Hands mobile design"

[2017-04-24 00:06] #80 closed

[2017-04-24 00:06] abbeyjackson opened #81 "HH - Helping Hands Project Specification Doc"
as discussed

[2017-04-24 00:25] northtwilight commented on #48
LastPass appears to be working. Finding time to test team features next.

[2017-04-24 00:48] abbeyjackson opened #82 "VSW - Volunteer Software Specification Doc"
as discussed

[2017-04-24 00:48] abbeyjackson opened #83 "VSW - Volunteer Software mobile design"
Translate the web design to mobile. Assume iOS for mobile (tab bar) and the assigned Android team can translate to do either a tab bar or a hamburger menu.
https://zpl.io/Z2rCPXs

Mobile does not need to contain any administrative features except that team leads should be able to make their weekly updates and also volunteer review comments through the app

[2017-04-24 00:48] abbeyjackson opened #84 "HH - Helping Hands web design"

[2017-04-24 00:56] abbeyjackson opened #85 "VSW - Staff Volunteer software project"

[2017-04-24 00:56] abbeyjackson opened #86 "VSW - Approve Volunteer Software project specification document"

[2017-04-24 00:56] abbeyjackson opened #87 "HH - Staff Helping Hands"

[2017-04-24 00:56] abbeyjackson opened #88 "HH - Approve Helping Hands project specification document"

[2017-04-24 01:10] abbeyjackson opened #89 "Integrate CI with Github"
one person from each platform should work together to decide on CDG's CI policies and to set up Github integration.

[2017-04-24 02:16] abbeyjackson opened #90 "Write Android suggested libraries"

[2017-04-24 02:16] abbeyjackson opened #91 "Write Android new project set up instructions"

[2017-04-24 02:16] abbeyjackson opened #92 "Create Android Style guide"

[2017-04-24 02:16] abbeyjackson opened #93 "Create Android Template Project"

[2017-04-24 02:18] abbeyjackson opened #94 "Write sales volunteer description (not until we are ready to begin client projects)"

[2017-04-24 02:18] abbeyjackson opened #95 "Get a designer to redesign the org website"

[2017-04-24 02:23] abbeyjackson opened #96 "VSW - Volunteer SW web app wireframes"

[2017-04-24 02:24] #96 closed

[2017-04-24 02:25] abbeyjackson opened #97 "LL - Language Learning project specification doc"

[2017-04-24 02:46] abbeyjackson commented on #83
@henrymly I updated the ticket with a description

[2017-04-24 02:54] abbeyjackson opened #98 "Working Remotely Article"

[2017-04-24 02:54] #98 closed

[2017-04-24 02:55] abbeyjackson opened #99 "MVC Article"
Please bring over the MVC article you wrote already on Medium, it's a great simple summary!

[2017-04-24 02:55] abbeyjackson opened #100 "MVVM Article"
Please write a MVVM article in the same tone and style as your MVC article

[2017-04-24 02:56] abbeyjackson opened #101 "Distributed Authority Article"
As discussed with Chris

[2017-04-24 02:57] #101 closed

[2017-04-24 02:57] abbeyjackson commented on #46
Created separate issues for each article, closing this one

[2017-04-24 02:57] #46 closed

[2017-04-24 02:58] abbeyjackson commented on #34
Created separate issues for each article, closing this one

[2017-04-24 02:58] #34 closed

[2017-04-24 02:58] abbeyjackson opened #102 "Confidence / Imposter Syndrome Article"
As discussed previously

[2017-04-24 03:04] abbeyjackson opened #103 "Fix Volunteer Reports sheet"
The Volunteer Reports sheet is missing some people that are on slack. Please compare the both the developer and business intake responses sheets to the volunteer reports sheet and add people that are missing. It should include everyone who has a #2 in the intake step column.

It is possible that the issue is that people are in slack who are not marked #2 so part of this task is to also go through

[2017-04-24 03:07] abbeyjackson opened #104 "Audit everyone on Slack"
Check the profiles for everyone on Slack. Anyone that does not have their profile set up properly should have the following message DM'd to them:

I see you have not filled in your slack profile as directed in the onboarding link. To me that indicates you may have not read the onboarding page. Can you please the link below and read through everything as required and also update your slack profile

[2017-04-24 03:16] #53 closed

[2017-04-24 03:18] abbeyjackson commented on #96
This is a duplicate

[2017-04-24 03:22] abbeyjackson opened #105 "Create training page for leads"
Team Leads have additional duties. Create training page which outlines:

- Managing their team KanBan
- Create files in GoogleDrive
etc

[2017-04-24 03:23] abbeyjackson opened #106 "Find Marketing Volunteers"
We need marketing volunteers with experience and also eager to learn types for:
- General Marketing / Branding
- Adwords
- Social Media

[2017-04-24 03:24] iamthepanda commented on #92
@wellingtonmb88 , how would you like to proceed?

[2017-04-24 03:29] abbeyjackson opened #107 "Train all team leads"
Need to go over special things that team leads need to be responsible for.

Create a group google hangout with team leads

[2017-04-24 03:30] abbeyjackson opened #108 "Train volunteer coordinators"
Need to have a google hangout with all volunteer coordinators to train them

[2017-04-24 03:30] abbeyjackson commented on #108
Meeting will be Sunday April 30

[2017-04-24 03:31] abbeyjackson commented on #72
Document located in Recruiting folder.

[2017-04-24 03:31] #72 closed

[2017-04-24 03:33] abbeyjackson opened #109 "Look at integrating Danger with Github"

[2017-04-24 03:41] abbeyjackson opened #110 "HH - Come up with a marketing plan for Helping Hands"
We do not want to advertise HH to the general public to start because we do not have the resources to man off topic postings. Instead our marketing plan should be centred around organizations that work with refugees and other immigrants.

Ideally they would direct Canadians to download the apps and would encourage their clients (the refugees and immigrants) to use the apps/website.

The marketing

[2017-04-24 03:46] abbeyjackson opened #111 "Create process doc for all Project Administrators to follow"
Should be along the same lines as the Volunteer Coordinator process doc (in the Recruiting folder).

[2017-04-24 03:54] abbeyjackson opened #112 "Make onboarding video"
Need to make an onboarding video that goes over the most important stuff:

- The reasons that one can be removed from CodeDoesGood
- Google Drive procedures
- Kanban procedures

Need to make slides for this

[2017-04-24 04:04] abbeyjackson opened #113 "Update Kanban wiki page"
There are now multiple kanban boards, need to update the wiki page to reflect that also add screenshots etc about how to manage issues

[2017-04-24 04:34] abbeyjackson opened #114 "iPhone photo backup"
Need to figure out how to back up more than 4000 photos from one specific folder on an iPhone (not all the photos) over wifi (not using itunes on the computer). Needs to be a service that is easily browsable and prefer one that allows tagging of files.

[2017-04-24 05:01] abbeyjackson opened #115 "Assess Mentors"
Assess volunteers who signed up as mentors to determine if they should be a mentor or a Hatchling Level 7 (like a mentor but without the responsibility) for their first project.

Ensure both volunteer spreadsheets are up to date.

[2017-04-24 16:39] alidiafindley commented on #114
There are two ways to do this -- Google Drive and Dropbox. Google Drive provides 15GB of storage for free, compared to Dropbox's 2GB, making it the better choice for uploading this many images.

Here are the steps:
1 - [Download Google Drive for iOS, here,](https://itunes.apple.com/us/app/google-drive-free-online-storage/id507874739?mt=8) on the iPhone being used.
2 - Log in to your account, or cr

[2017-04-25 03:48] abbeyjackson opened #116 "Create SwiftLint file"

[2017-04-25 03:58] GrfxGuru commented on #103
Rechecked the business intake responses sheet.

[2017-04-25 05:16] GrfxGuru commented on #103
Initial repass of the intake response sheets. Now need to compare with Slack list and then check sheets are updated along with report.

[2017-04-26 04:30] abbeyjackson commented on #114
Thanks @alidiafindley !

[2017-04-26 04:30] #114 closed

[2017-04-26 04:31] abbeyjackson opened #117 "Pull out Kay's suggested photos"
Go through the document of suggested photos Kay made and find the photos in the uploaded photo folder

[2017-04-26 04:32] abbeyjackson commented on #112
Irma and/or Alidia

[2017-04-26 06:13] abmanraj commented on #81
Updated spec document for Helping Hands

[2017-04-26 15:07] abbeyjackson opened #118 "Add all volunteers to the announcement google group"
Add every single volunteer who has successfully onboarded to the announcements group on Google Drive. This group has no Google Drive access, this is so that we can send out a project wide email. At a later date we will not use email, it will only be through our software but right now we need a way to contact people. Email is not super reliable since we've noticed CDG emails end up in some people's

[2017-04-26 15:08] #73 closed

[2017-04-26 15:09] abbeyjackson commented on #68
@REWMassimo This ticket is still listed as todo, is it complete?

[2017-04-26 15:11] abbeyjackson commented on #69
@northtwilight also still in todo, this is a bit of a long list, do you want to pull Felice in?

[2017-04-26 15:15] #71 closed

[2017-04-26 15:19] abbeyjackson commented on #62
this ticket is not actually in progress, I must have commented on the wrong ticket

[2017-04-26 15:29] abbeyjackson opened #119 "Project Wiki instructions"
write instructions for how to create project wiki and what needs to be in it

[2017-04-26 15:29] abbeyjackson opened #120 "Write new project guidelines (related to #109)"
We can discuss when you are ready to start but I am also relying on your experience to know what should be in here. Things like what should be on the readme.

Related to #109 and #119

[2017-04-26 15:30] abbeyjackson opened #121 "write managing your work wiki page"

[2017-04-26 15:30] abbeyjackson opened #122 "how to write tickets and user stories wiki page"

[2017-04-26 15:31] abbeyjackson opened #123 "Interviewing Series"
"I want to write about my experiences of going interviews as a junior iOS developer, chronologically. Things I encountered- 99% interviewers are white male (phone/in person), 99% iOS online tutorial videos shares similar demographic. Some experiences of iOS meetups. Then my experiences with my visa situation during this time."

[2017-04-26 15:32] abbeyjackson opened #124 "Free Learning Resources"
"review of the best free resources for newbies to learn and practice coding

I’m only familiar with iOS thus far, so I could write about that. But I could ask others to send me resources for other platforms and summarize everything also, if we think that’s a good idea."

[2017-04-26 15:40] abbeyjackson opened #125 "Add QA info"
Add information about why we do not have a QA department

[2017-04-26 15:41] abbeyjackson opened #126 "Make Rules summary wiki page"

[2017-04-26 15:44] abbeyjackson opened #127 "Ongoing list of needed volunteer positions"

[2017-04-26 15:45] abbeyjackson opened #128 "Go through designers"
Add a column to volunteer reports, we need to know if a designer is a graphic designer or has experience with app design / wants to do app design if they have no experience

[2017-04-26 15:47] abbeyjackson commented on #107
Ensure your teammates know:
- do not make files in google drive
- have @channel and name notifications on for team channel
- assignments are voluntary, you choose what you do. there is rarely a set deadline but you _must_ give an estimate and if you will not make the estimate you must update the ticket with new information
- tickets _must_ be updated weekly

[2017-04-26 15:48] abbeyjackson opened #129 "Hook GH to Volunteer Software"
Is it possible to be able to pull up a report of people that have open tickets which have not been updated that week?

[2017-04-26 16:04] brandonpas commented on #82
Estimated completion date: 4/30

[2017-04-26 16:34] JaymeeMak commented on #84
ETA: Fri May 12

[2017-04-26 17:19] REWMassimo commented on #68
I'll close it, a different item is taking its place

On 2017-Apr-26 08:09, Abbey Jackson wrote:

[2017-04-26 17:30] #68 closed

[2017-04-26 17:57] northtwilight opened #130 "Find the nonprofit institutional equivalents of the VanCity Community Foundation and/or the UBC Sauder Social Entrepreneurship program to contact"
Replaces issue #83 I think

[2017-04-26 19:05] brandonpas commented on #129
We could leverage the GitHub API to pull this information. Perhaps using the following API and reviewing each of the "issue" objects for the "updated_at" value:  https://developer.github.com/v3/issues/events/#list-events-for-a-repository

[2017-04-26 20:10] henrymly commented on #83
**Estimated completion date: 4/27.**

Would appreciate any feedback!

[2017-04-27 03:18] GrfxGuru commented on #103
Current slack user list checked against the volunteer report and added as needed.

[2017-04-27 14:23] wellingtonmb88 commented on #92
Estimated time to complete: 01/05/17

[2017-04-27 20:26] northtwilight opened #131 "Write / steal privacy policy"

[2017-04-27 20:28] northtwilight commented on #131
Will modify Danny's* privacy policy to suit. Scheduling pile up means I likely won't get to this for a few days.

* Former head iOS instructor at Lighthouse Labs.

[2017-04-28 20:27] GrfxGuru commented on #75
In progress with reminders to take part in the slack channels.

[2017-04-28 20:28] GrfxGuru commented on #104
Auditing has begun.

[2017-04-29 03:12] abbeyjackson opened #132 "Find meeting time tool"
Research and find the simplest tool for finding a meeting time for a group of people. Example: people put in their availability and then the tool/website spits out a time that works for everyone.

[2017-04-29 05:40] GrfxGuru commented on #104
Those that have not completed their profiles have been sent a message.

[2017-04-29 23:52] GrfxGuru commented on #103
Task completed.

[2017-04-29 23:52] #103 closed

[2017-04-29 23:53] GrfxGuru commented on #104
Channels checked and those not in the correct channels have either been invited or asked to check that they join their platform (dev).

[2017-04-29 23:53] #104 closed

[2017-04-30 21:25] brandonpas commented on #82
Ready for review.

[2017-05-01 16:08] 98chimp opened #133 "Figure out costs for InVision or Marvel app service"

[2017-05-01 16:12] 98chimp commented on #23
Initial submission was completed on April 10
Will follow up today to inquire as to where we stand on the process.

[2017-05-01 20:11] festrs commented on #89
As we spoke in Slack I'm attacking a code of .travis.yml file for iOS that works with cocoapods dependency manager. Please, if you guys can create a free account and test this. Follow the website https://docs.travis-ci.com/user/languages/objective-c/ for more!

`language: objective-c

osx_image: xcode8.3

script:
  - xcodebuild -version
  - xcodebuild -workspace ProjectName.xcworkspace -scheme 'Pr

[2017-05-02 04:21] alidiafindley commented on #132
Looked around but couldn't find anything efficient that schedules a time without you putting in a list of time options to start. Let me know if that works -- if not, I'll give another option that doesn't require a starting list.

The best way to do this is via [Doodle](http://doodle.com/). Here's how to use it:

1: Navigate to [the Doodle create page, here](http://doodle.com/create).
2: Enter a ti

[2017-05-02 05:30] 98chimp commented on #133
No special pricing for non-profits advertised on their respective company sites.
General pricing & plans are:
Marvel: [https://marvelapp.com/plans/](url)
InVision: [https://www.invisionapp.com/plans](url)

Have sent individual emails to both companies to inquire further.

[2017-05-02 05:36] felicelam commented on #38
I have a new lead and will provide details on Slack.

[2017-05-02 05:38] 98chimp commented on #133
Just got a reply from InVision

In essence, they have a 20% discount towards any plan refunded after full payment is made and proof of NPO status provided as per instructions found in the enclosed screenshot.

<img width="1459" alt="screenshot 2017-05-01 22 37 07" src="https://cloud.githubusercontent.com/assets/10504371/25605301/c6204620-2ebe-11e7-83cc-a6d9a09e931d.png">

[2017-05-02 13:14] 98chimp commented on #133
Another reply came in from Marvel

They are willing to provide a 50% discount on any of their annual plans (see screenshot below).

<img width="867" alt="screenshot 2017-05-02 06 12 45" src="https://cloud.githubusercontent.com/assets/10504371/25619117/88acd3ae-2efe-11e7-819d-ef331744ba6e.png">

[2017-05-02 15:05] 98chimp commented on #133
@abbeyjackson we will need funds before we can commit to any of these plans
even at 50% discount, these could mean upwards of $40US/month for a team of 4-5 designers

[2017-05-02 15:06] abbeyjackson commented on #132
@alidiafindley thank you!

[2017-05-02 15:06] #132 closed

[2017-05-02 15:43] abbeyjackson commented on #133
@98chimp fantastic! Good job going the extra mile :)

Until we have our status (and income) is it feasible to have our designers just use a personal free account for the project that they design?

[2017-05-02 15:51] abbeyjackson commented on #89
@festrs, @renatomcamilio is CodeDoesGood's technical contact. He should see this message but if he doesn't message him on Slack and he will help you out.

Renato, see above :)

Also I'd like to see @gopesh-sharma @sinha-abhishek participating. Have you guys talked with Felipe about your platforms? Is Travis going to be appropriately set up for each?

[2017-05-02 20:02] REWMassimo commented on #69
Good idea, I'll ask her

[2017-05-03 06:18] sinha-abhishek commented on #89
Setting travis for android development as well. Will update the timelines

[2017-05-03 16:54] renatomcamilio commented on #89
Just confirming: what's needed from me on this one? Just create a hello world iOS app with cocoapods and test against travis? Do we have a test app to simplify the process?
ty!

[2017-05-03 16:56] festrs commented on #89
I can do this, and you can check if everything is in the place! That's sounds good?

[2017-05-03 16:58] renatomcamilio commented on #89
That'd be perfect. 👍

[2017-05-04 06:51] northtwilight commented on #131
Removed financial section. Continuing to review. Minor alterations for clarity.

[2017-05-04 18:10] cmyers78 commented on #102
Have not had a chance to work on it.  Confidence portion is written. Imposter Syndrome portion is not.

[2017-05-04 18:11] cmyers78 commented on #22
Reviewing PR regarding Localization.  Waiting on README document regarding localization instructions from Eric.  Will follow up on Friday.

[2017-05-04 18:35] festrs commented on #89
Check out this project https://github.com/festrs/CI-Template-CDG
I don't know how to include this template in the CDG GIT. Nevertheless, there are some configs that are needed on the project to, I'll write some instructions on the readme of this project later.

[2017-05-05 01:12] abbeyjackson opened #134 "Development related Slack integrations"
Look into the following Slack integrations:
- Github for PR notifications posted to project channel
- Travis CI for notifications of failed builds posted to project channel
- Crashlytics for notifications of major issues posted to a dedicated channel (this one is lowest priority)

Travis integration is being carried out by @festrs @gopesh @abhishek_sinha (slack usernames), please coordinate with t

[2017-05-05 15:05] abbeyjackson opened #135 "Find meeting time for team leads"
contact the following ppl to find a meeting time that works. You can use the volunteers email address if you need to make a CodeDoesGood account for anything. @peterwitham can get you access if you don't have the pwd.

@peterwitham
@kaychan
@sarah
@cmyers78
@rpatterson45
@felicelam
@irmattg
Yourself and myself

Optionally if the founders can make it thats a bonus @massimo @renato @shahin but not n

[2017-05-05 15:06] abbeyjackson opened #136 "Upload photos"
Using the method Alidia suggested, upload photos

[2017-05-05 15:08] abbeyjackson commented on #124
Hey @DannyMac180 did you get started on this yet?

[2017-05-05 15:08] abbeyjackson commented on #123
Hey @guangLess did you get started on this yet?

[2017-05-05 15:09] abbeyjackson commented on #99
@ezaman is this still happening?

[2017-05-05 15:09] abbeyjackson commented on #100
@ezaman is this still happening?

[2017-05-05 15:09] abbeyjackson commented on #92
@wellingtonmb88 @iamthepanda Is the style guide complete now?

[2017-05-05 15:10] abbeyjackson commented on #116
@Pahitos how's this going?

[2017-05-05 15:17] DannyMac180 commented on #124
Hi @abbeyjackson I'm planning on getting this done tomorrow when I have some free time

[2017-05-05 15:18] abbeyjackson commented on #89
@festrs @sinha-abhishek @gopesh-sharma Can you guys use the template projects on CDG's github to test this stuff out? You can push non important commits to check the CI is working. The Android template is just a readme and the Web template is an empty repo but you can add CI and just push whatever you want to check that the CI is hooked up.

@swiftcode is going to be looking into integrating Travi

[2017-05-05 15:21] abbeyjackson commented on #111
@northtwilight @RPatterson45 @CameronM89

Is this done?

[2017-05-05 15:22] abbeyjackson opened #137 "CDGW - Staff CDG Website"

[2017-05-05 15:26] abbeyjackson commented on #65
@kaychandotcom did this all get done?

[2017-05-05 15:27] abbeyjackson commented on #79
Duplicate of ticket on business ninja board https://github.com/CodeDoesGood/org/issues/117

[2017-05-05 15:27] #79 closed

[2017-05-05 15:28] abbeyjackson commented on #70
@kaychandotcom I think you were working with... @irmattg ( ? ) on this, is that right? How is this going?

[2017-05-05 15:33] abbeyjackson commented on #83
@henrymly Sent you a message on slack. Zeplin looks great :)

[2017-05-05 15:34] abbeyjackson opened #138 "Approve process doc"
Review, give corrections, and give the final approval on process doc

[2017-05-05 15:35] abbeyjackson commented on #115
@northtwilight @renatomcamilio I know you've given me an update already but can you capture that update on this ticket so I don't forget and have to ask you again later? ;) Thanks!

[2017-05-05 15:36] abbeyjackson commented on #108
Volunteer team is now on their own. I am watching the room for a bit just to make sure things stay on track. Pavel can be reached out to with any questions.

[2017-05-05 15:36] #108 closed

[2017-05-05 15:39] abbeyjackson commented on #118
@GrfxGuru this needs to be done, remember you can give it to someone else on the team. Just make sure you update the assignee on this ticket if another person takes it on.

[2017-05-05 15:39] abbeyjackson commented on #107
Meeting time is being done by Alidia, ticket: https://github.com/CodeDoesGood/org/issues/135

[2017-05-05 15:46] abbeyjackson commented on #82
@brandonpas @Doug-Luce @GrfxGuru Just updating the ticket:

A new template is now being used. Can I get an update on your status with this new template?

Also Peter will be working with you, providing you a list of features (mostly these are database columns) needed for capturing additional info about volunteers. In addition to these database columns the web side of things (not needed in mobile) n

[2017-05-05 15:59] REWMassimo commented on #115
Oh you're terrible

of course!

;)

On 2017-May-05 08:35, Abbey Jackson wrote:

[2017-05-05 16:07] REWMassimo commented on #115
So we assessed all those volunteers originally listed on the intake form as having a) said they're willing & capable of handling mentor duties and b) had been processed in some form already into CDG (Slack,   participation in CDG activities, etc); the latter were listed in blue.

Copied those to a separate sheet (mentor responses) and rated each.

Several were listed as needing reassessment as hat

[2017-05-05 16:10] abbeyjackson commented on #97
@evandocarmo Can you update the ticket to let us know where you're at? Remember there is no pressure, no deadline, this is just so that I don't have to ping you next week when I forget, I can just read the ticket :)

[2017-05-05 16:11] abbeyjackson commented on #81
@abmanraj @kksai14 How is moving things over to the new template going?

[2017-05-05 16:18] brandonpas commented on #82
If this is the 'Project Specification Doc Template' in the Projects directory, the spec has already been updated to conform to the new template.

[2017-05-05 16:18] abbeyjackson commented on #133
@98chimp see above question

[2017-05-05 16:19] abbeyjackson commented on #48
@northtwilight How is this coming?

[2017-05-05 16:19] abbeyjackson opened #139 "Update contact page"
Add team lead info to contact page

[2017-05-05 16:20] #139 closed

[2017-05-05 16:23] abbeyjackson commented on #82
@brandonpas @Doug-Luce I forgot one thing from the list above...I don't think it was mentioned in the original document but admins must also be able to make platform specific announcements. So basically announcements that only show to people who are signed up for each platform

[2017-05-05 16:26] REWMassimo commented on #48
Going to assemble some people to trial this out. Will figure out over the weekend.

[2017-05-05 16:28] abbeyjackson opened #140 "Edit communication wiki page"
link to contact page

[2017-05-05 16:29] abbeyjackson opened #141 "Private API key handling"
Develop a process for how to handle private API keys for projects

[2017-05-05 16:37] abbeyjackson commented on #83
Just need the last of the screens uploaded

[2017-05-05 16:42] abbeyjackson commented on #127
What I've got so far:
- Branding Consultant
- Org-level Project Manager (to manage the project boards, watch that team leads are taking care of their boards, etc)
- Legal consultant
- Design Team Lead
- Business staff Team Lead
- Business staff (random business related tasks)
- Top-Level administrative volunteer for helping with grant applications and other important business stuff
- Marketing sta

[2017-05-05 17:11] abbeyjackson commented on #115
For the reassessment info, where did you indicate that? on the intake
response sheet or the volunteer reports sheet? And in it's own column or is
this a colour coded thing? (also when you and Peter finalize the colour vs
column stuff can you update the ticket here too? Thanks!)

[2017-05-05 17:12] abbeyjackson commented on #124
Awesome! Don't worry if you don't finish tomorrow, just remember to keep
the ticket updated with progress.

[2017-05-05 17:15] abbeyjackson commented on #89
I just stumbled on this link, did you know that there is already a Travis
integration for Github?
https://github.com/integrations/feature/continuous-integration

[2017-05-05 17:30] iamthepanda commented on #92
@abbeyjackson I believe so.

[2017-05-05 17:47] northtwilight commented on #115
Intake document, mentor response sheet, Founder notes - column I.

No changes to colour scheme; therefore:
blue - mentor applicants already processed
white - not processed by CDG yet, but if/when, can be assessed according to the note.

[2017-05-05 18:03] swiftcode commented on #89
I thought there might be.  Will be able to work on the integration this evening.

[2017-05-05 18:10] Doug-Luce commented on #141
I know there will be more to this conversation, but I thought I would get us started.

### Handling API Keys

- API Keys should be stored in a configuration file separate from Github, such as a remote server.
- Applications should load API credentials from environment variables. (For our Volunteer App we can use dotenv. https://www.npmjs.com/package/dotenv

#### Example
    var db = require('db')

[2017-05-05 18:11] Doug-Luce commented on #126
I would like to work on this.

[2017-05-05 18:29] wellingtonmb88 commented on #92
@abbeyjackson last week I asked in the Android channel for some reviews as nobody has said anything I believe it's completed, but I think the people could contribute later if it's necessary.

[2017-05-05 18:50] abbeyjackson commented on #92
thanks guys! Could one of you please close the ticket (I'm replying through
email on my phone so I can't easily do it)

[2017-05-05 18:52] abbeyjackson commented on #126
Okay so this would mean going through the wiki articles and finding the
things that are listed as mandatory.

Still want to do it? (I wasn't sure if the title of the ticket was
descriptive enough since there was no description)

[2017-05-05 18:54] Doug-Luce commented on #126
Yes, I'll get started. Are most of the rules in the wiki articles?

[2017-05-05 18:57] abbeyjackson commented on #126
Yeah they all will be, they are just scattered around. Thank you so much
for taking this one on! I just updated your access, you should be able to
create and edit wiki pages now. Please put the rules page in section 2 (so
name it with "2." as a preface) and add to the main wiki page with a link.

[2017-05-05 18:58] Doug-Luce commented on #126
Will do.

[2017-05-05 18:59] #92 closed

[2017-05-05 19:13] 98chimp commented on #133
i'm okay with that for sure!
if they're okay with it
@abbeyjackson

[2017-05-05 22:06] Doug-Luce commented on #126
It's ready for review.

[2017-05-06 05:24] abbeyjackson commented on #126
Wow! This is incredible! I was just thinking of the really specific rules
but you managed to cover everything really well!

You can close this ticket and let me know if you want to tackle anything
else :)
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-05-06 16:32] Doug-Luce commented on #126
Great! I'll close it now.

[2017-05-06 16:32] #126 closed

[2017-05-06 17:29] wellingtonmb88 commented on #93
Tasks:
- Create new project
- Add CheckStyle
- Add FindBugs
- Add PMD
- Add Lint
- Add Logging with Timber
- Add Crashlytics

[2017-05-06 19:46] festrs commented on #89
@abbeyjackson I'll do this on Monday that's ok? Can I push PR to the iOS template with travis.yml?

[2017-05-07 00:23] Pahitos commented on #116
Not sure... It's hard to test all the possible combinations of code 😅
I'll commit what I've got so far soon.

[2017-05-07 05:14] GrfxGuru commented on #118
This task was taken care of by Emily. I would re-assign to her but do not seem to have GitHub details.

[2017-05-07 05:14] #118 closed

[2017-05-07 05:30] GrfxGuru commented on #116
@Pahitos if you need someone to try it out, I'd be happy to run some of my code through it. That should pretty much break anything ;)

[2017-05-07 22:07] swiftcode commented on #89
I setup the integration with dev-ios and dev-android.  What is the process going to be to test this?

[2017-05-07 22:35] swiftcode commented on #134
I setup the integration with dev-ios and dev-android. What is the process going to be to test this?

I did get the message that we are running out of slots when I did the android setup.

[2017-05-08 00:35] DannyMac180 commented on #124
Started first draft on 5/7/17

[2017-05-08 04:17] abbeyjackson commented on #114
@alidiafindley We tried to do this today but when we go into the folder you have to select the images one by one. Is there a way to select the entire folder?

[2017-05-08 13:54] evandocarmo commented on #97
Hi! I just moved what I had written last week to the new project specification template. I am having a write time writing more specific specifications though, since I have never developed for Android or IOS. I'm still looking for people to help me out.

[2017-05-08 14:56] Doug-Luce commented on #40
Would we be using a specific stack for this template? Would it make sense to have multiple templates based on a stack, or maybe just have a NodeJS and Express template base?

[2017-05-08 15:00] Doug-Luce commented on #42
@abbeyjackson  Can I work on this?

[2017-05-08 15:30] alidiafindley commented on #114
@abbeyjackson Submitted a [help request](https://productforums.google.com/forum/#!topic/drive/xRZvKVIWsvo;context-place=forum/drive) for this with Google Support. Will update as soon as I receive a response!

[2017-05-08 21:01] guangLess commented on #123
Not yet. My mom is visiting. I wont be able to get it start till May 12th.

[2017-05-09 15:05] abbeyjackson commented on #134
@swiftcode you can push an empty commit to the ios-template and android-template repos to test

[2017-05-09 15:06] abbeyjackson commented on #89
@festrs you can use ios-template and android-template repos to test. Push whatever you want :)

[2017-05-09 15:07] abbeyjackson commented on #116
@Pahitos @GrfxGuru Also I sent Pavel a message on slack about the rules and what can be changed :)

[2017-05-09 15:08] abbeyjackson commented on #134
@swiftcode also if you do run out of integrations make a list of what you think should still be added. When we have our non profit status finalized we will have more integrations available because Slack has a different account scheme for non-profits.

[2017-05-09 15:09] abbeyjackson commented on #22
@cmyers78 where are we at with this?

[2017-05-09 15:29] swiftcode commented on #134
@abbeyjackson Yes, I can push empty commits.  I'll try to get it done sometime today, if not, then this evening.

I'll make a list, should be run out.

[2017-05-09 15:47] dimpiax opened #142 "[Node.js] Write new project set up instructions"

[2017-05-09 15:57] abbeyjackson commented on #75
@GrfxGuru where are we at with this? Since I see people are not really participating you can always jump into the project room and decide with the team in there :)

[2017-05-09 15:57] abbeyjackson commented on #112
@irmattg Hey how is this coming along?

[2017-05-09 15:58] abbeyjackson commented on #114
Thanks!

[2017-05-09 15:58] abbeyjackson commented on #136
@renatomcamilio We are still having issues getting the photos off of the phone, will let you know when we've got them :)

[2017-05-09 16:03] northtwilight commented on #131
Posted to general-founders for review and comment. Will speak with Danny to get final clarification on rights to modify & alter his original document

[2017-05-09 16:35] swiftcode opened #143 "Git commit template"
Set up a commit template that will work with SourceTree for iOS and if there is a common GUI for Android, should work with that as well.

Template to comply with:  https://github.com/CodeDoesGood/org/wiki/3.-Git-Procedures

[2017-05-09 18:51] brandonpas commented on #82
@GrfxGuru reviewed and approved. Closing.

[2017-05-09 19:52] alidiafindley commented on #114
@abbeyjackson  Google doesn't support uploading a whole folder to Drive from Camera Roll, so you'd have to select them individually. Apparently Dropbox and other similar softwares don't support this either.

There is one app made as a workaround for this specific problem, but you have to pay for the iOS side. The computer side can be found [here for Mac](http://www.phototransferapp.com/mac/) or [h

[2017-05-09 20:42] Doug-Luce commented on #126
I moved that from To Do to Done, is there more to the process to close a ticket?

[2017-05-10 01:22] cmyers78 commented on #22
I have a couple of PRs to review.  Eric wanted to wait to merge his branch with master until he had time to write a Readme file explaining how to use his localization code.  He's currently on vacation so that may be another few days.   I've noticed a couple other PRs so I'll review those and merge if all is well.

[2017-05-10 01:38] cmyers78 commented on #100
@ezaman Anything you need for your article?  Just checking in.

[2017-05-10 01:42] cmyers78 commented on #102
Confidence portion is revised.  Imposter Syndrome is 1/2 way completed.  I hope to finish this weekend.

[2017-05-10 01:47] cmyers78 commented on #124
@DannyMac180 Let us know if you need anything.  Editing, peer-review, bounce ideas.... whatever you need.

[2017-05-10 03:28] henrymly commented on #83
Just uploaded the profile screen. I need some clarification on the Contact page...are we building out an internal messaging system as well? I thought it would make more sense just to link to phone/email/text/slack since that would be our primary form on communication. Thanks!

[2017-05-10 03:30] abbeyjackson commented on #127
@felicelam

[2017-05-10 03:31] abbeyjackson commented on #127
- Finace volunteer

[2017-05-10 05:17] abbeyjackson commented on #83
The contact page is for external ppl to contact us and will be forwarded
via email to our general mailbox.

We are looking at slack integrations for internal contact links :)

On Tue, May 9, 2017 at 8:28 PM Henry M Ly <notifications@github.com> wrote:

--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-05-10 05:20] abbeyjackson commented on #126
Nope you're all good!

On Tue, May 9, 2017 at 1:42 PM Douglas Luce <notifications@github.com>
wrote:

--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-05-10 14:36] festrs commented on #89
I made a PR yesterday on iOS-Template with the travis config for iOS

[2017-05-10 15:53] GrfxGuru commented on #75
I will follow up on this.

[2017-05-10 15:53] abbeyjackson opened #144 "Add integration document to wiki"
This page should include information about slack integrations as well as Travis CI and whatever other integrations have been added.

Please coordinate with people assigned to the following tickets:
Development related Slack integrations https://github.com/CodeDoesGood/org/issues/134
Integrate CI with Github https://github.com/CodeDoesGood/org/issues/89
Look at integrating Danger with Github https:

[2017-05-12 00:52] swiftcode commented on #134
This integration can only be implemented by someone with Admin privileges.  I made the issue known to @abbeyjackson @northtwilight.  We need to have an account that would be responsible for the integration.  This is being worked on.

[2017-05-12 16:24] GrfxGuru commented on #75
Poll this weekend to conclude and find a name. I will post a list to slack to select short list later today.

[2017-05-13 20:08] swiftcode commented on #134
I sent a ticket into GitHub support with out issue.  GitHub responded that this is a Slack issue.  I created a ticket with Slack support and they indicated they are assigning someone to look into it for us.

@northtwilight @abbeyjackson

[2017-05-14 16:14] swiftcode commented on #143
@abbeyjackson Can this be closed?  If something needs to be revised, we could re-open or open a new ticket.

[2017-05-14 23:14] northtwilight opened #145 "Find insurers for the org"
From KnowHow/NonProfit @
https://knowhownonprofit.org/people/volunteers-and-your-organisation/insurance-and-volunteers

All groups and organisations that involve volunteers should consider what types of insurance they need to put in place to cover them for that involvement.
Due to the variation between insurers and policies, we can only offer general advice. All groups and organisations should see

[2017-05-14 23:16] northtwilight commented on #145
Need to find out costs, status of insurers, exceptions/limitations/conditions, coverage areas, etc etc etc

[2017-05-15 20:30] brandonpas commented on #82
Working on incorporating the suggested changes.

[2017-05-15 20:35] brandonpas commented on #93
Added the tasks/libraries mentioned above with the exception of Crashlytics as we were waiting to determine the best way to handle API keys. Will be working on utility classes, examples for the testing pattern, and Crashlytics.

[2017-05-17 06:21] felicelam commented on #38
My lead is to provide guidance on the type of lawyer we need. View the core team Slack channel for details.

[2017-05-17 19:50] renatomcamilio commented on #48
Jumping in to give Mass a hand in this one! 🙌

[2017-05-17 21:53] GrfxGuru opened #146 "Send email to volunteers that are inactive on Slack"
Send an email to volunteers that have not completed the Slack onboarding process. Provide instructions on turning notifications on for those that might not be regular users.

[2017-05-17 21:56] GrfxGuru opened #147 "Update volunteer on-boarding process to include email for inactive Slack users."
Update documentation for the Slack onboarding process to include instruction and example for contacting inactive users.

[2017-05-18 06:34] renatomcamilio commented on #41
@abbeyjackson I'm gonna work on this one 👍

[2017-05-18 15:24] abbeyjackson opened #148 "Add info about private channels to wiki"
There is no info in the wiki about what to do with adding someone to a private channel. We need to add that information:

Team leads are free to add volunteers to their team channel. They must however make sure @peterwitham knows so that he can mark that on the volunteer spreadsheet so we know the volunteer is assigned a role.

[2017-05-18 15:24] abbeyjackson commented on #135
Have chosen to make training videos instead

[2017-05-18 15:24] #135 closed

[2017-05-18 15:25] abbeyjackson commented on #75
@GrfxGuru I think the clear winner was Mercury, right?

[2017-05-18 15:26] abbeyjackson commented on #112
@irmattg is updating the slides to be more point form

I am working with @swiftcode to get the rest of the wiki pages complete and then we can finish these videos

[2017-05-18 15:33] abbeyjackson opened #149 "Client Discovery Phase research"
Provide a summary document containing research on various ways that companies conduct their client's discovery phase. A discovery phase is when ideas are vetted, information about a project is sorted out, etc.

Do this by combing websites for app agencies, going through the info they publish about their discovery phase (helping the client ideate their product). Write a summary of many different pr

[2017-05-18 15:34] abbeyjackson commented on #133
I'm closing this issue as I feel we have enough information to go forward

[2017-05-18 15:34] #133 closed

[2017-05-18 15:35] abbeyjackson commented on #144
@swiftcode how is this coming?

[2017-05-18 15:36] abbeyjackson commented on #60
@98chimp I'm going to close this issue because I feel this is an ongoing task that does not need to be open. Last night you set yourself a reminder to do it once a month. Let me know if you need anything from me to help facilitate this.

[2017-05-18 15:36] #60 closed

[2017-05-18 15:36] abbeyjackson commented on #32
I'm going to close this issue as I feel it is a moot point. We have all shown that we can come to agreement simply by working as a team :)

[2017-05-18 15:36] #32 closed

[2017-05-18 15:38] abbeyjackson commented on #23
As of Monday May 15 the application finally went through (there were technical issues on the gov's side) and we will either be registered or be asked for more information in 10-12 business days.

@98chimp please reply on this ticket with the information about provincial incorporation. (At our meeting you were saying that there is good reason to do provincial incorporation in addition to the federa

[2017-05-18 15:40] abbeyjackson commented on #145
Massimo thanks for figuring out about the correct label/board/ etc!! :)

[2017-05-18 15:40] abbeyjackson commented on #131
@northtwilight where are we at with this?

[2017-05-18 15:43] swiftcode commented on #144
OK.  So, I received some information black from Slack on the process.  I'm currently writing up a summary to present  on our options and which option seems best given our setup.  There's two paths - authed and unauthed.  I thought it best to put the documentation in place once we decide which setup we'll use and get  a working test in place.

I've found that the documentation that's already existi

[2017-05-18 15:45] abbeyjackson commented on #144
Really fantastic work, thanks Michael! As you have ownership of this task
please let me know what the difference is between the two but give me your
recommendation. Unless there is something specific about CDG you are
unaware of we will likely go with your recommendation.

[2017-05-18 15:49] abbeyjackson commented on #141
@wellingtonmb88 Hey just wondering why this was assigned to me?

[2017-05-18 15:49] abbeyjackson commented on #143
If it's done to your satisfaction give it a close. I am trusting the volunteers on these tasks as I don't have time to check everything right now :)

[2017-05-18 15:50] abbeyjackson commented on #134
Thanks @swiftcode for keeping me in the loop!

[2017-05-18 15:58] swiftcode commented on #143
This is a good first step.  If there are opinions on the matter, we can always update the wiki.

[2017-05-18 15:58] #143 closed

[2017-05-18 15:59] abbeyjackson opened #150 "Data base architecture design for volunteer software back end"
Under mentorship of Renato

[2017-05-19 00:51] abbeyjackson commented on #120
- readme with required info
- project wiki needs to contain style guide
- linter file (or lead needs to be responsible for ensuring styles are kept)

anything else

[2017-05-19 00:58] abbeyjackson commented on #42
@Doug-Luce Do you still want to do this? @GrfxGuru is available to help or to do it if you do not want to

[2017-05-19 01:02] abbeyjackson commented on #122
need to write how to do both kinds of things

[2017-05-19 01:06] abbeyjackson commented on #140
sentence about the video in the onboarding email

[2017-05-19 01:09] abbeyjackson commented on #113
hold off until the video is done

[2017-05-19 01:09] abbeyjackson commented on #76
can be found on code of conduct page

[2017-05-19 01:13] abbeyjackson commented on #77
leads come up 3 - 4 milestones and provide an estimate for this
should be very compassion, we know your estimate will be wrong, everyone is volunteering, etc. Remember we are a teaching ground, the purpose is not to be accurate, but rather to teach hathclings how to do estimates.

[2017-05-19 01:26] abbeyjackson opened #151 "this is a fake ticket"
this is a

[2017-05-19 01:26] #151 closed

[2017-05-19 01:30] abbeyjackson commented on #107
making videos instead

[2017-05-19 02:24] alidiafindley commented on #148
Added [here](https://github.com/CodeDoesGood/business/wiki/2.-Communication#private-channels).

[2017-05-19 02:31] alidiafindley commented on #76
Added [here](https://github.com/CodeDoesGood/business/wiki/2.-Communication#reporting-issues).

[2017-05-19 02:34] alidiafindley commented on #140
@abbeyjackson just to confirm - did you want the "contact us" link included in the procedural, technical, or external communications section? And should the sentence about the video in the onboarding email go under procedural?

[2017-05-19 03:02] GrfxGuru commented on #146
The first email was sent as of this update. The second email to follow 7 days later if there is no response.

[2017-05-19 05:20] abbeyjackson opened #152 "Add all volunteers to announcement google group"
We use groups for google drive access. There is also an announcement google group that has no drive access but which we can use to send out emails. We will not use this often as we will be using Slack and our volunteer software but as we don't have that set up yet I'd like everyone added to this so I can contact them.

In the future please add all users to this group as the final step in their onb

[2017-05-19 15:28] abbeyjackson opened #153 "Look into Android Go"
Android Go is a new OS that will run on very low-spec Android devices. Some of our apps will be helpful for developing countries and to assist people in lower income brackets.

Please look into Android Go and write a summary of it's potential uses at CodeDoesGood and any special information that project facilitators, designers and developers would need to know if wanting to implement an app for th

[2017-05-19 15:33] abbeyjackson commented on #128
I think this is done, but it was sitting open. Peter can you please check and if it is please close the ticket. Thanks!

[2017-05-19 15:38] abbeyjackson opened #154 "Add all mentors to mentor room on Slack"
Massimo and Renato went through our applications for people that wanted to be mentors. Most people stayed labelled as mentors but some were changed to Hatchling 7 which just means we want to see them on a project before we put them in charge.

Please check with Massimo to make sure that the reports are up to date and then add all mentors of all platforms to the #general-mentors channel. Team leads

[2017-05-19 15:50] abbeyjackson opened #155 "Go through Project boards"
There are some issues that have been added via the Issues tab and then not added to a project board. Need to find these and put them on their appropriate board.

[2017-05-19 15:54] abbeyjackson opened #156 "temp"
tesmp

[2017-05-19 16:14] abbeyjackson commented on #148
Awesome thanks!

[2017-05-19 16:14] #148 closed

[2017-05-19 16:15] abbeyjackson commented on #76
Thanks!

[2017-05-19 16:15] #76 closed

[2017-05-19 16:18] abbeyjackson commented on #140
@alidiafindley Let's just add a note to the very bottom that says if you need to contact a team or person directly please visit our contact page for details

I think the sentence about the video that will be in their onboarding email actually shouldn't be on this page. It should be on the onboarding page in the section about slack.

On the communication page please delete the info about growbot as

[2017-05-19 19:58] renatomcamilio commented on #142
Closing this since it's gonna be covered by: https://github.com/CodeDoesGood/business/issues/41

@dimpiax you're welcome to be part of reviewing team when we're done with that.

[2017-05-19 19:58] #142 closed

[2017-05-19 20:35] abbeyjackson opened #157 "Create issue template for github"
We are getting issues added which are not being added to the project boards.

Create an issue template that says:

[2017-05-20 01:12] alidiafindley commented on #140
@abbeyjackson Added sentence on contact [here](https://github.com/CodeDoesGood/business/wiki/2.-Communication#contact), and removed section on Growbot.

Added sentence on onboarding email video [here](https://github.com/CodeDoesGood/business/wiki/2.-Onboarding#slack).

[2017-05-20 15:45] swiftcode commented on #77
The first draft is done.  Will have someone read it over and see if any changes are needed.

[2017-05-21 02:04] GrfxGuru commented on #152
I have added the other groups to the Announcements group. That should take care of this, new members to other groups should be automatically included if I am reading it right.

[2017-05-21 02:13] GrfxGuru commented on #154
Invites have been sent to mentors to join the channel.

[2017-05-21 02:13] #154 closed

[2017-05-21 02:16] GrfxGuru commented on #128
I will check.

[2017-05-21 02:37] GrfxGuru commented on #128
I have added the extra column and changed designer to app and web designer. I have also updated volunteer data into those columns.

[2017-05-21 02:37] #128 closed

[2017-05-21 02:39] GrfxGuru commented on #75
Yup Mercury it is.

[2017-05-21 02:39] #75 closed

[2017-05-21 16:39] GrfxGuru commented on #147
I have added a Slack management section to the page with details for the first email if a volunteer has not responded to the slack invite.

[2017-05-21 16:39] #147 closed

[2017-05-21 18:58] swiftcode commented on #77
Made some revisions.  Closing ticket.

[2017-05-21 18:58] #77 closed

[2017-05-21 21:43] swiftcode commented on #134
@northtwilight @abbeyjackson Who is the main contact for this?  When there's time, I want to discuss the two options for integration and decide which will work best for the org.

[2017-05-22 01:27] GrfxGuru commented on #90
Posted in Slack dev-tools asking for suggestions and began research.

[2017-05-22 01:29] GrfxGuru commented on #42
I'll take this, have posted in dev-tools and dev-web asking for suggestions and began researching.

[2017-05-22 19:26] northtwilight commented on #81
@kksai14 @abmanraj I know you've said today that you're accumulating sources for the second revision of the HH project specification document. Can you update with an estimate? Also please update this task as you complete parts of the document, we need more regular contact.

[2017-05-23 04:21] emilychadwick commented on #106
Reached out to all volunteers interested in this role who are not marked unresponsive or currently involved in another project.

[2017-05-23 14:15] kksai14 commented on #81
Hello @northtwilight, I am currently collecting sources from news about canadian refugees. @abmanraj and Me had a discussion about estimate and we will complete this spec document by this sunday (28-May-2017).

About regular update- can we send emails or simply update here.

[2017-05-23 14:53] abbeyjackson commented on #152
@GrfxGuru no this won't work because not everyone at CDG has Google Drive access yet.

You'll have to add each address individually rather than use groups. This is a temporary list that will not be used once Mercury is made btw so we don't need to worry about managing people on and off the list over time but using groups in addition to individual emails would mean that some people may end up getti

[2017-05-23 16:03] abbeyjackson commented on #81
Why are you collecting sources about news? There is no news feed in the app.

[2017-05-23 16:05] abbeyjackson commented on #134
@swiftcode Sorry I missed this tag, as per slack discussion we will use a slack account, contact Peter Witham to get an account made using the volunteers email address.

[2017-05-23 16:09] northtwilight commented on #81
Hi KK. I just saw this update, can you clarify what you mean? Specifically can you outline what is intended with collecting news sources?
Thanks

[2017-05-23 16:26] kksai14 commented on #81
I am trying to address current primary issue faced by refugees. That's it..

[2017-05-23 16:30] kksai14 commented on #81
We will give regular updates about what we are doing regarding Spec document. We will follow the guidelines and add content which is needful.

Thanks!

Regards,
K K Sai.

[2017-05-24 05:50] GrfxGuru commented on #152
Oh OK, I'll take care of it.

[2017-05-24 06:23] GrfxGuru opened #158 "Create GitHub account for volunteer email address to be used for GitHub integration."
This is needed for an integration by Michael C.

[2017-05-24 18:56] vitalii-tym commented on #155
@abbeyjackson I'd like to do this, but not sure I see all the boards. There are "Business Tasks" and "Meetings" and they are in read-only mode. Should I contact Peter or Chris via Slack?

[2017-05-24 18:59] abbeyjackson commented on #155
@vitalii-tym Can you see these boards? https://github.com/orgs/CodeDoesGood/projects

[2017-05-24 19:37] vitalii-tym commented on #155
@abbeyjackson No. Its 404.

[2017-05-24 20:08] abbeyjackson commented on #155
@vitalii-tym contact either Peter Witham or Chris Myers and they'll be able to give you github access. Then I can talk with you about this task tomorrow. We have a meeting tonight so I won't have time today.

[2017-05-25 00:07] abbeyjackson commented on #157
Planned to have this done this week but won't until next week.

[2017-05-25 00:08] abbeyjackson commented on #157
Completed this, her's a link: -_______

[2017-05-25 00:10] abbeyjackson opened #159 "This is a new ticket"
This is a new ticket's issue body

[2017-05-25 00:12] abbeyjackson commented on #159
closing as this was just an example

[2017-05-25 00:12] #159 closed

[2017-05-25 00:20] abbeyjackson opened #160 "Temporary"
instructions of what I need done

[2017-05-25 00:59] abbeyjackson commented on #113
I went over it and it's fine, added links to the boards.

@GrfxGuru for this task instead of changing it mostly I just need you to make it more succinct, add more whitespace. It's a wall of text which makes it difficult to absorb. When I have the video recorded I will add a link also.

[2017-05-25 01:07] cmyers78 commented on #102
Sadly, I've made zero progress on this the last two week.  Work and vacation have kept me from looking at it.  MY goal is to finish this during the Memorial Day weekend this weekend.

[2017-05-25 01:08] cmyers78 commented on #123
How is this coming @guangLess ?  Do you need anything?

[2017-05-25 01:09] cmyers78 commented on #99
@ezaman Do you have a link to the article you wrote?  Any updates on when we might get this in the wiki?

[2017-05-25 01:10] cmyers78 commented on #100
@ezaman Just following up.  Any timeline on the MVVM topic?

[2017-05-25 02:54] abbeyjackson commented on #127
Project Admin Lead
Designers (maybe)
Marketing

[2017-05-25 06:16] GrfxGuru commented on #113
I will reformat per request.

[2017-05-25 06:21] GrfxGuru commented on #155
Noticed this comment from @abbeyjackson and have sent you a GitHub invite @vitalii-tym

[2017-05-25 06:23] GrfxGuru commented on #134
I will take care of creating the account and get in touch with you @swiftcode. It was already on my radar but wanted to get this comment on the task.

[2017-05-25 06:26] northtwilight commented on #81
Just update here, that's good enough. Not sure what news re refugees might
be relevant exactly, but surprise me.

It's more important to focus on what the app will do and will not do --
because the spec doc you need to write will be concerned with every aspect
of the app.

Good luck!

On 23 May 2017 at 07:15, kksai <notifications@github.com> wrote:

[2017-05-25 16:40] swiftcode opened #161 "Branch and merge protection"
Add  instructions to the wiki on the project guidelines page as well as the PR page for protecting branches and requiring status checks.

[2017-05-25 19:39] DannyMac180 commented on #124
@abbeyjackson @cmyers78 here's the link to the finished draft: https://drive.google.com/open?id=1F2EH1ud-_8XdEEeT_xnyURrOxxQjnL9U0NB9UCALo_E

If you could look it over and let me know if you think anything needs revision. Thanks!

[2017-05-25 20:28] REWMassimo commented on #100
Hi Chris,
If you don't hear in the next 24 hours from him, let him know he's going to be replaced.
thanks

[2017-05-26 00:59] cmyers78 commented on #124
It's looking good thus far.  I noticed almost all of it was related to iOS development, which makes sense. This may be overkill, but you might want to list this site for general CS stuff: https://teachyourselfcs.com/#programming

At one point I had a link to basically an entire online university that offered CS classes, but I cannot find it.  If I do, I'll send your way.

[2017-05-26 02:19] GrfxGuru commented on #152
Current users have been added manually.

[2017-05-26 02:19] #152 closed

[2017-05-26 08:45] vitalii-tym commented on #155
@GrfxGuru, thanks. Everything works now. Will run through boards in my nearest available time.
@abbeyjackson this task is clear enough to go with. If there are any special things I should take into account - let me know.
By default I'll make sure there no issues without boards. All "free" issues will be put into respective boards in the proper columns.

[2017-05-26 11:18] DirkDeVisser commented on #150
We are using [umlet](http://umlet.com/) for the design. The file can be found on Google Drive.
I have made a basic start,  Renato will give feedback on it this weekend.

[2017-05-26 16:11] abbeyjackson commented on #155
Fantastic! The only thing to be aware of is every issue should have a
label, but only one label. Thanks!

[2017-05-27 18:43] GrfxGuru commented on #146
Email sent disabled Slack account, updated Volunteer report.

[2017-05-27 18:43] #146 closed

[2017-05-27 19:03] GrfxGuru commented on #90
Added list of suggested libraries from CDG developers.

[2017-05-27 19:03] #90 closed

[2017-05-28 20:13] brandonpas commented on #82
Most changes have been incorporated; just waiting on Renato for confirmation regarding the authentication method. When verified, I will submit the document for review.

[2017-05-28 23:21] GrfxGuru commented on #113
Updated some of the content and formatting, will close ticket, content is still lengthy but needed. The video will solve the problem I believe.

[2017-05-28 23:21] #113 closed

[2017-05-28 23:22] GrfxGuru commented on #158
The decision was made to use the volunteers address.

[2017-05-28 23:22] #158 closed

[2017-05-29 15:09] abbeyjackson opened #162 "Project file header written"
This is the the copyright etc that should be the header on every file inside each project.

[2017-05-29 15:12] abbeyjackson opened #163 "Readme written"
Every project should have a common Readme file that explains:

- What CodeDoesGood is
- We have open source policies but that we are not an open source group with instructions on how to volunteer
- MIT license and explain what that means (that anyone can use our work)
- Very brief explanation of our low-cost software services for non-profits and link to that page.

[2017-05-29 15:21] abbeyjackson opened #164 "Business Plan"
Basic business plan to get us going. This will be a living document that will be expanded on as we go. Please get consensus with Shahin and talk to him as well as Abbey if there are any questions about direction.

[2017-05-29 15:22] abbeyjackson opened #165 "Sales Plan / Forecast"

[2017-05-29 15:25] abbeyjackson opened #166 "Google's new Cloud organization"
Look into the new Google Cloud Organization to see if that would be better to use than our current Google Drive set up and if so transition us to it

[2017-05-29 15:27] abbeyjackson opened #167 "Social Media Plan"
Create basic plan, should be simple and not require a lot of time to implement as we do not have a large marketing team.

[2017-05-29 15:32] abbeyjackson opened #168 "List of Grants"
Come up with a list of grants we are eligible to apply for (in the government and the private sector)

We are a tech based non-profit focussed on education and technical education specifically as well as getting other non-profits caught up in the digital world / marketing themselves digitally through software (apps)

[2017-05-29 15:34] abbeyjackson opened #169 "List of Business & Law schools"
It will be helpful to have a list of business and law schools in Canada for future recruiting of volunteers.

Compile a list of contact information for business and law schools in major Canadian cities. The list does not have to be exhaustive but should cover the biggest schools at least.  The contact information we need are for whomever we would speak to about recruiting students for volunteer jo

[2017-05-29 15:37] abbeyjackson opened #170 "Refugee and Immigration Group contact info"
Compile a list of contact information for refugee and immigration groups in Canadian Provinces. For BC and Ontario additionally look for city based groups in the major cities. These are not social groups but rather the groups that help get refugees and immigrants settled.

[2017-05-29 15:43] abbeyjackson commented on #74
This is mostly done. The new directors are in place and emphasis is on getting them settled. New business volunteers will be needed but each director can open a new ticket for the staff that they require.

[2017-05-29 15:43] #74 closed

[2017-05-29 15:43] abbeyjackson commented on #115
@northtwilight can this be closed?

[2017-05-29 15:45] abbeyjackson opened #171 "Create Slack management training video"
Create a video that explains how to handle lots of notifications, and use reminders to manage slack.

[2017-05-29 15:45] abbeyjackson commented on #171
Done https://youtu.be/5mu5IOQwggM

[2017-05-29 15:45] #171 closed

[2017-05-29 15:46] abbeyjackson opened #172 "Create Slack training video"
How to use slack including turning on notifications, set status, etc

[2017-05-29 15:47] abbeyjackson opened #173 "Create Google Drive training video"
Wait until we decide if we are moving to new google cloud organization

[2017-05-29 15:48] abbeyjackson opened #174 "Create kanban training video"
How to use the project boards

[2017-05-29 15:49] abbeyjackson commented on #52
Talking with a school

[2017-05-29 15:59] abbeyjackson commented on #38
Have reached out to Felice's contact

[2017-05-29 16:04] abbeyjackson commented on #111
@northtwilight @RPatterson45 @CameronM89

Is this done?

[2017-05-29 16:06] abbeyjackson opened #175 "List of Meetups"
Compile a list of the largest tech, volunteer, and social good type meet ups in Canada. Again does not need to be exhaustive, just find me the 5 biggest in each category.

[2017-05-29 16:30] northtwilight commented on #111
It got missed. Ryan's on vacation to next week. I'll put in a reminder to address when he gets back.

[2017-05-29 23:18] alidiafindley commented on #165
Started basic sales plan [here](https://docs.google.com/a/codedoesgood.org/document/d/1yLAAx4o4fLkoxlrPp95VR_hqfdlXh6J76vkuEeAX0ms/edit?usp=sharing).

[2017-05-30 00:06] alidiafindley commented on #149
Still in process, but I've begun compiling this into a document, [here](https://docs.google.com/a/codedoesgood.org/document/d/1NrMC0MwvjvhzclkWfXraNYaGmA8mYb5QoYkXdQLNAEw/edit?usp=sharing).

[2017-05-30 00:23] REWMassimo commented on #115
Yea

[2017-05-30 00:24] #115 closed

[2017-05-30 01:22] alidiafindley commented on #140
@abbeyjackson Just wanted to check status on this one -- are the changes I made sufficient? If so, is this issue ready to close?

[2017-05-30 05:43] REWMassimo commented on #111
I've started up a draft and will look at the Volunteers document in the meantime

[2017-05-30 16:14] swiftcode commented on #134
This is waiting for a slack account.  Will finish, when the account is ready.

[2017-05-30 16:15] swiftcode commented on #144
This will follow getting the actual integration completed (which is WIP).

[2017-05-30 16:16] swiftcode commented on #129
The integration is pending a slack account.

[2017-05-30 16:17] swiftcode commented on #125
@abbeyjackson Not completed yet.  Still on the to-do list.

[2017-05-30 16:18] swiftcode commented on #121
@abbeyjackson The first draft is done and awaiting some feedback.

[2017-05-31 03:11] mattwalo32 commented on #169
[Schools.pdf](https://github.com/CodeDoesGood/business/files/1040217/Schools.pdf)

[2017-05-31 04:19] alidiafindley commented on #169
Uploaded on the Drive [here](https://drive.google.com/a/codedoesgood.org/file/d/0BzVr9LT9ayq9ajZ1OHpUdEo3TDQ/view?usp=sharing).

[2017-05-31 04:38] abbeyjackson commented on #111
Awesome! Thanks :)
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-05-31 04:39] abbeyjackson commented on #121
I should have some time tomorrow :)
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-05-31 04:40] abbeyjackson commented on #169
Awesome, thanks! You can close the issue 👍
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-05-31 04:41] #169 closed

[2017-05-31 05:14] guangLess commented on #123
Hey! Thanks for checking in. Unfortunately, I am preparing for a big interview till the week of June 19th. I will start writing the article by then. It will be applicable!

[2017-06-01 03:10] kksai14 commented on #81
Hi @northtwilight and  abby jackson,

Just updating you,

With the help of massimo's suggestions, we completing spec document with important points.
We will give you regular updates and soon we will submit for revision.

Thanks!

Regards,
Sai.

[2017-06-01 10:47] evandocarmo commented on #97
Hi! Jaymee and Brandon added some very interesting comments on the doc which I have now replied to and/or incorporated into the file. We are now discussing in the channel what languages should be taught/supported by the app.

[2017-06-01 18:35] northtwilight commented on #81
Excellent, good work. I'll try to have a look tonight. Don't worry about taking time - as long as you update here, and feel good about the work: I would rather you take a couple of extra days if that means a more understandable document with clear explanations and discussions.

[2017-06-01 18:37] northtwilight commented on #97
Good work, keep it coming!

[2017-06-01 21:28] vitalii-tym commented on #160
This issue seems to be not belonging anywhere. Let's either close it or put back on board with more context about what is meant to be done here.

[2017-06-01 21:57] #156 closed

[2017-06-01 22:07] vitalii-tym commented on #155
Almost done. There are only a few issues with no labels left.
@abbeyjackson Abbey, I've got a question: since all issues should have a label I found no label for issues, which are an actual work. I mean not a just a "bug" or "enhancement", but real hard work, required to move the respective project forward. Should we create one?

[2017-06-01 22:32] vitalii-tym commented on #153
I will take a look.

[2017-06-02 04:24] abbeyjackson commented on #153
@vitalii-tym  fantastic, thank you!

[2017-06-02 04:25] abbeyjackson commented on #155
@vitalii-tym  Can you give me a link to one please so I don't give you the wrong information?

[2017-06-02 04:26] abbeyjackson commented on #160
Ahh sorry these temporary ones you keep finding are from when I was recording a video on how to do things on Github issues. I forgot to get rid of them.

[2017-06-02 04:26] #160 closed

[2017-06-02 04:27] abbeyjackson commented on #81
@kksai14 fantastic! And I second what Massimo said :) We do not have deadlines at CodeDoesGood, just estimates. If you don't get something done by the time you estimate that it will be done, simply change the estimate so everyone is aware of the new plan. Do not stress at all about time.

[2017-06-02 04:29] abbeyjackson commented on #140
@alidiafindley if all the fixes are done go ahead and close it, you don't need to ask :) Did you update the incorrect slack channel names?

[2017-06-02 14:16] vitalii-tym commented on #155
@abbeyjackson This one for example: https://github.com/CodeDoesGood/org-website/issues/14
Doesn't look like just an enhancement, but rather a piece of required work to have v2 of org website built.

[2017-06-02 16:03] abbeyjackson commented on #155
@vitalii-tym  Ahh okay so the lead mentor should manage the project boards for the project repos. They do not have to use labels if they don't want to.

This ticket was only for our business project board:
https://github.com/CodeDoesGood/business/projects/2
and our organizational level project boards:
https://github.com/orgs/CodeDoesGood/projects

Sorry about that, I didn't even think about the bo

[2017-06-02 20:42] vitalii-tym commented on #155
@abbeyjackson Its OK. It was a great opportunity for me to get a better idea about the current state of the projects.
All tasks are on boards, have labels (with a few exceptions I mentioned before), in proper columns, and "In Progress" tasks have assignees.
Closing this issue now.

[2017-06-02 20:43] #155 closed

[2017-06-03 05:01] GrfxGuru commented on #122
Initial draft of writing a user story completed.

[2017-06-03 16:09] vitalii-tym commented on #153
It looks like "Android Go" will be a specifically configured and tuned version of the upcoming Android O operating system. It is not clear yet whether Android O will turn itself in that "GO" mode automatically after detecting that device has <=1GB RAM or it will be a separate distributive installed on such devices by manufacturers (and we shouldn't really care about it).

The official blog says: "

[2017-06-04 20:09] swiftcode commented on #161
WIP - 06/04

[2017-06-04 20:10] swiftcode commented on #144
The documentation is on the Wiki page.

[2017-06-04 20:10] #144 closed

[2017-06-04 20:12] swiftcode commented on #134
I created the integration using the voluteers account from both Slack and GitHub.

TODO:  I will either add an empty commit to test or see if we have any code that's ready for a PR.  I will reach out to the Android side and see if they have anything, as well.

[2017-06-04 20:16] swiftcode commented on #125
WIP 06/04

[2017-06-04 20:16] swiftcode commented on #121
Working on revisions of this per Abbey's suggestions.

[2017-06-05 00:47] GrfxGuru commented on #122
Initial draft of writing tickets completed.

[2017-06-05 13:17] cmyers78 commented on #102
I have written the article.  I'm going through some revisions and then I'll share the doc to get some feedback and approval before posting to the wiki.  Will share the link either tonight or tomorrow night.

[2017-06-05 14:56] abbeyjackson commented on #153
@vitalii-tym Thanks for all this great info! I guess we have some time (2018) to get it sorted

[2017-06-05 14:56] #153 closed

[2017-06-05 15:21] abbeyjackson commented on #112
@irmattg is done her part of this, I need to record the audio now so assigning to me.

[2017-06-05 15:22] abbeyjackson opened #177 "About us video"
Create a video that only has slides for our mission and guiding principles.

One per slide so that we can pause and talk about each one individually.

Slide One: It should have the same animated title screen
Slide Two: an intro that says "Our Mission and Guiding Principles"
Slide Three: MISSION in smaller letters to the top left and the mission written in bigger letters in the middle.
Slide Four:

[2017-06-05 19:21] vitalii-tym commented on #109
Danger is a code review chores automation tool, triggered after a CI process almost finished.
It is basically a gem installed in a project's root. It hooks up to Travis via travis.yml file. Optionally it can be given access to GitHub account so that it could comment directly in the respective Pull Requests. It can also post notifications to Slack (there is a plugin for this).

Since Travis is alre

[2017-06-06 13:56] alidiafindley commented on #140
@abbeyjackson I updated those I could find! I can't find #networking or #updates in Slack, have those been phased out or renamed something very different?

[2017-06-07 00:36] abbeyjackson commented on #140
I think those are both gone

[2017-06-07 01:31] #140 closed

[2017-06-07 01:50] abbeyjackson opened #178 "Abbey's test ticket"
this is a test ticket for video

[2017-06-07 01:53] abbeyjackson commented on #178
Closing test ticket

[2017-06-07 01:54] abbeyjackson commented on #178
Estimated: June 30th

[2017-06-07 01:54] abbeyjackson commented on #178
Hey not able to make June 30th, new estimate date: July 12th

[2017-06-07 01:56] #178 closed

[2017-06-07 02:49] GrfxGuru commented on #122
Updated after discussion.

[2017-06-07 02:49] #122 closed

[2017-06-07 05:16] GrfxGuru opened #179 "Write web libraries document for wiki."
Create a list recommending Web libraries on the wiki that we would possibly use on Web projects.

[2017-06-07 05:19] GrfxGuru opened #180 "Find student business volunteer to work closely with CDG president."
Find a volunteer to work closely with CodeDoesGood president. Local is preferred and must be self-motivated and organized.

[2017-06-07 05:26] GrfxGuru commented on #179
Link to the wiki page https://github.com/CodeDoesGood/business/wiki/4.-Recommended-Libraries

[2017-06-07 19:45] alidiafindley commented on #169
Updated link [here](https://docs.google.com/a/codedoesgood.org/document/d/1MI6KAAZIWQ7Lmz6EIf31wJV8jhB21bpehsjY3drtER4/edit?usp=sharing).

[2017-06-07 19:58] alidiafindley opened #181 "Find film/video volunteers to help make a marketing video"
Looking for volunteers who can help create marketing videos

[2017-06-07 20:02] alidiafindley commented on #149
Estimated complete date: June 9th.

[2017-06-07 20:07] alidiafindley commented on #164
Started [here](https://docs.google.com/a/codedoesgood.org/document/d/1bVVWJL5S7XBwekc3xUcLEkDCU7eND6LAF0NO_XlEJcE/edit?usp=sharing).

Estimated completion: June 16th.

[2017-06-07 20:22] alidiafindley commented on #165
First draft finished, will get feedback during tonight's call & over Slack throughout the week.

Estimated completion: June 11th.

[2017-06-08 00:50] alidiafindley opened #182 "Create marketing plan"
Create a loose guide about channels, messaging, etc.

[2017-06-08 00:54] alidiafindley opened #183 "Create marketing package for volunteers"
For potential high-level volunteers, such as directors or team leads

[2017-06-08 00:56] alidiafindley opened #184 "Create marketing package for clients"
Should include promotional material to use as part of client pipeline/pitch

[2017-06-08 00:58] alidiafindley opened #185 "Create general marketing package"
A marketing package for people in general. For example, a volunteer whose employer donates volunteer hours; anyone at an organization we contact who wants more info.

[2017-06-08 01:11] abbeyjackson commented on #174
https://youtu.be/UK4XYuaBVQg?list=PLznsss-Zd6wLC0PeQZrkdAqVZecBNYwzB

[2017-06-08 01:11] #174 closed

[2017-06-08 01:11] abbeyjackson commented on #173
not doing

[2017-06-08 01:11] #173 closed

[2017-06-08 01:12] abbeyjackson commented on #105
decided that videos will be for all volunteers with info about leads in the videos...this way non-leads know what leads are doing also

[2017-06-08 01:12] #105 closed

[2017-06-08 02:24] GrfxGuru commented on #106
I am taking this one.

[2017-06-08 03:47] abbeyjackson opened #186 "Move articles from business wiki to dev hatchery"
The following articles should be moved to the dev hatchery wiki.

1. Copy the article over.
2. Add a star (*) to the beginning of the title so that it shows up at the top of the dev hatchery
3. Delete from the business wiki
4. Delete from the home page of the business wiki
5. Check Onboarding wiki page to make sure none of the moved articles are linked to the old address.

Making Estimates
Managin

[2017-06-08 03:51] abbeyjackson opened #187 "Article on Mentoring"
This is a super subjective subject but at least something to start off our new mentors who aren't sure what to do. At the very least please  emphasize the power of screensharing (Screenhero) and using slack to have audio calls to explain things as it is often quicker and more effective than chatting. Also recommend finding really good articles written on the topic as I'm sure there are many and in

[2017-06-08 04:52] #107 closed

[2017-06-08 04:53] abbeyjackson commented on #177
Irma will do the slides, I am doing the audio

[2017-06-08 04:54] abbeyjackson commented on #112
Audio is done and is being fixed by @iamthepanda

[2017-06-08 04:57] abbeyjackson opened #188 "Extended training video"
Basically reading onboarding pages for those that aren't good at reading

[2017-06-08 04:58] abbeyjackson opened #189 "Rules video"
Go over rules and explain why for each one

[2017-06-08 05:01] abbeyjackson opened #190 "Review Project Boards wiki page"
Now that the project boards video is up review the project boards wiki page to make sure it is in alignment. When there are differences favour the information in the video

[2017-06-08 05:03] abbeyjackson opened #191 "Look up new grant info"
There was new grant info announced in this year's Canadian budget. It is for groups that are teaching tech. Please look into this and get the details of what we need to do to apply and qualify as well as what the grant actually is for.

[2017-06-08 05:23] abbeyjackson commented on #177
@irmattg please add a last page that says Beliefs and Values in large text and "We believe every human on this planet should be treated with dignity and respect and should be extended the same basic rights as each other" in smaller letters.

[2017-06-08 05:28] abbeyjackson commented on #177
I updated the ticket description above. The information about who we are up until I start talking about our mission should be on the first slide or insert a new slide you think is relevant between the intro screen and Slide Two

[2017-06-08 07:20] northtwilight opened #192 "Add Design lecture link to DevHatchery tasks' list once that is set up"
The latest Worldwide Developers' Conference at Apple has a link to an hour-long video on 'Essential Design Principles' that does an excellent job of covering these.

I just realised the link requires a developer account at Apple therefore it can't be required viewing for CDG hatchlings, but for those devs with an account, it's great for a review or gentle introduction.

The video is available here

[2017-06-08 10:10] vitalii-tym commented on #89
I'm trying to [integrate Danger](https://github.com/CodeDoesGood/business/issues/109), but found that current Travis integration doesn't function well. At least It fails in my fork before getting to any Danger-related stuff.

I'm trying to figure out what has happened since the time @festrs had it [successfully running](https://github.com/festrs/CI-Template-CDG) back on May 4 (see previous comment

[2017-06-08 10:17] vitalii-tym commented on #89
Found that the build process runs fine after commenting out this code from Podfile:
[code]
I'm out of my time now. Will return to this issue later.

[2017-06-08 13:53] alidiafindley commented on #168
Document created [here](https://docs.google.com/a/codedoesgood.org/document/d/1jzB226q5qcsXrGNyJUUJOtMceA9xgBoUovDf_z8yBpk/edit?usp=sharing).

[2017-06-08 18:50] DannyMac180 commented on #124
@cmyers78 thanks for that suggestion. I added that in and had a look through the site. It looks like it's chockfull of info and I'll definitely go through it when I have a chance. @abbeyjackson I think this is good to go, if you agree, what are next actions?

Link to the doc: https://drive.google.com/open?id=1F2EH1ud-_8XdEEeT_xnyURrOxxQjnL9U0NB9UCALo_E

[2017-06-09 00:34] abbeyjackson commented on #129
part of VSW (Mercury) and captured in the specification document

[2017-06-09 00:34] #129 closed

[2017-06-09 00:35] abbeyjackson commented on #150
@renatomcamilio @DirkDeVisser where are we at with this? The database needs to be architected before development can start. The project is ready to go ahead but we need the database done first so our developers have an API to hook into.

[2017-06-09 01:31] festrs commented on #89
This error is because this no such key in the Travis configuration, someone with access needs to include the key on Travis config. Check this tutorial for more information https://docs.travis-ci.com/user/environment-variables/#Defining-Variables-in-Repository-Settings

[2017-06-09 03:38] abbeyjackson opened #193 "Correct captions on training videos"
All training videos need captions corrected. For example "Dev Hatchery" is transcribed as "Death Hatchery" lol

[2017-06-09 03:56] brandonpas commented on #82
Submitted for final review

[2017-06-09 04:34] abbeyjackson commented on #189
https://youtu.be/urifHOIWNQ4

[2017-06-09 04:34] #189 closed

[2017-06-09 04:43] abbeyjackson opened #194 "Sourcetree training video"
- Gitflow
- Commiting
- Reading and understanding branch history
- Cherry pick and why you might want to do this
- Using Resolve Conflicts using THEIRS/MINE when you want to keep only one version and not merge them (for example in iOS sometimes the easiest way to deal with project.pbxproj conflicts if there are a lot of conflicts is to take theirs and then add your files back in).
- Show how to ma

[2017-06-09 04:49] abbeyjackson opened #195 "Make the responsibilities page simpler"
https://github.com/CodeDoesGood/DevHatchery/wiki/1.-Responsibilities

Simplify this way way way way wayyyyyyy down. I want to see lots of whitespace. It should be really easy to digest. Try to make the points one or two lines at most each. Use bullets instead of lots of headings.

Anything that really is a good idea to write more about (like the attitude part under Hatchlings) turn into it's own d

[2017-06-09 04:54] abbeyjackson commented on #117
This is proving difficult as there is no way to backup only a specific folder from the iPhone and Justin's phone has 13000 photos on it

[2017-06-09 04:55] abbeyjackson commented on #116
@Pahitos if this is

[2017-06-09 04:57] abbeyjackson commented on #192
Massimo how about you add a Design Principles page to the Dev Hatchery and
include it as a link. Apple dev accounts are actually free now, you only
pay if you want to be able to put an app in the app store. We can't force
people to register but it would be good to let them know it's there for
their info. There was a really good video last year on designing accessible
apps, I'd like that link added

[2017-06-09 04:59] abbeyjackson commented on #124
Good job! I don't see any Android resources on there, you might want to
message some of the android devs and ask them if they have suggestions.
Either way, from here, if @cmyers78 approves it, it can be added to the
wiki. Chris is the lead so the process of how that happens is up to him...
you're the first one to submit one so I'm not sure what the process will be
:)

[2017-06-09 05:01] abbeyjackson commented on #89
Who has access? I don't even know how Travis is set up as I wasn't
involved. If you look at the github issues you should be able to find who
set it up and they may know. Once you find that out can you please give
this information to me via a private message on slack so that I can record
it in case we need it in the future. Thanks!

[2017-06-09 05:37] REWMassimo commented on #82
I'll have a look as well.

[2017-06-09 05:38] northtwilight commented on #82
I'll have a look as well.

[2017-06-09 22:20] renatomcamilio commented on #150
So, the database architecture is a design, not a concrete API to be hooked into. I haven't been following the conversation on how to implement, but this effort with Dirk and Brandon was a design concept, not the implementation itself.

The way I see is: the models will be defined in code, using a ORM (not sure which backend stack is set for this project, but say Knex.js/Bookshelf.js in case it's N

[2017-06-10 06:10] GrfxGuru opened #196 "Research privacy policy."
Research privacy policies and draft one for Code Does Good.

[2017-06-10 06:15] GrfxGuru opened #197 "Research terms of service for CDG."
Research terms of service to be used by CodeDoesGood.

[2017-06-10 06:18] GrfxGuru opened #198 "Research Intellectual Property document."
Research our intellectual property document, look at different licenses and see how they might fit our requirements or use as a base to generate our own.

[2017-06-10 06:19] GrfxGuru opened #199 "Investigate Google Cloud and how it can be useful to us."
Look into Google Cloud and report back to the team.

[2017-06-10 06:21] GrfxGuru opened #200 "Create an issue template and provide a link to the document."
Create a template that can be used for new issue tickets. Provide a link to the document.

[2017-06-10 06:23] GrfxGuru opened #201 "Find a volunteer to work on marketing videos. #181"
Find a volunteer to help work on the marketing videos, see ticket #181.

[2017-06-10 06:24] GrfxGuru opened #202 "Link to the marketing package when complete."
When the marketing package is ready, link to it from both the wiki and in the onboarding initial email.

[2017-06-10 06:43] abbeyjackson commented on #150
Yeah sorry those were two separate thoughts :)

The database needs to be architected...and then the backend devs need to build an API with it as we need an API for the front end and mobile apps to hook into

[2017-06-10 06:51] abbeyjackson commented on #202
I'd suggest this is better suited to the marketing board. The business board is for business operations tasks only like writing up policies and procedures, dealing with lega issues, etc.

[2017-06-10 06:52] abbeyjackson commented on #201
I'd suggest this is better suited to the volunteer board. The business board is for business operations tasks only like writing up policies and procedures, dealing with lega issues, etc.

[2017-06-10 06:52] abbeyjackson commented on #200
I'd suggest this is better suited to the development board, also should be tagged projects not volunteers. The business board is for business operations tasks only like writing up policies and procedures, dealing with lega issues, etc.

[2017-06-10 06:54] abbeyjackson commented on #192
@northtwilight

Massimo how about you add a Design Principles page to the Dev Hatchery and
include it as a link. Apple dev accounts are actually free now, you only
pay if you want to be able to put an app in the app store. We can't force
people to register but it would be good to let them know it's there for
their info. There was a really good video last year on designing accessible
apps, I'd like

[2017-06-10 06:54] #78 closed

[2017-06-10 06:54] abbeyjackson commented on #78
Done

[2017-06-10 08:53] GrfxGuru commented on #199
Duplicate.

[2017-06-10 08:53] #199 closed

[2017-06-10 09:08] #201 closed

[2017-06-10 09:10] GrfxGuru commented on #116
@Pahitos Is this complete and should be closed, or should it be in the in progress column?

[2017-06-10 16:52] irmattg commented on #177
@abbeyjackson Thanks for the info Abbey.

1. I'll work on adding the audio to the video.
2. I'll also add a last page that says Beliefs and Values with the message you mentioned above.

[2017-06-10 16:54] irmattg commented on #175
Hi Abbey, still working on this.

[2017-06-11 01:49] GrfxGuru commented on #180
Posted to our LinkedIn page. Will also be posting in other places, so this ticket will stay open until the position is filled.

[2017-06-11 17:40] northtwilight commented on #111
Guide name changed to Project Supervisors Procedures and Guide
Broad outline completed
Initial mapping of tasks completed

[2017-06-11 17:42] northtwilight commented on #97
Assigned Michael Campbell to Project Administrator status, overseeing all projects, as Ryan Patterson has indicated he wishes to return to dev-only duties.

[2017-06-11 17:45] northtwilight commented on #81
Assigned Michael Campbell to Project Administrator status, overseeing all projects, as Ryan Patterson has indicated he wishes to return to dev-only duties.

I had a look at the second draft and it is much better, so I'll comment for the third draft. There are still details I would like you to address this week upcoming. Thanks guys

[2017-06-11 17:47] northtwilight commented on #97
Added Brandon Pasq to Evan's team, the two of them together will be the Project Supervisors. Also asked Pavel Orel to attend ideation as his organisational skills will be helpful to that channel's volunteers.

[2017-06-11 21:56] irmattg commented on #175
@abbeyjackson
Canada Meetups
--
Tech
http://ladieslearningcode.com/
https://www.meetup.com/DevHouse-Waterloo/
https://www.meetup.com/Toronto-User-Experience-Designers/
https://www.meetup.com/VanDev/
https://www.redacademy.com/community-projects/
Volunteer
http://peacegeeks.org/volunteer
http://jacanada.org/volunteers
http://www.saveourscruff.org/
http://freegeekvancouver.org/
Social good
https://w

[2017-06-12 02:10] swiftcode commented on #179
WIP for week of 06-12

[2017-06-12 02:12] swiftcode commented on #161
Still continuing to work on this ticket

[2017-06-12 02:13] swiftcode commented on #125
No progress. Will write up a paragraph week of 06-12.

[2017-06-12 02:15] swiftcode commented on #121
Working on a mock-up of an actual example.  Progress has been made, but not integrated into existing wiki.  Will upload additional changes once mock-up is completed.

[2017-06-12 02:58] abbeyjackson commented on #112
I re-recorded the audio and gave the better version to @irmattg so @iamthepanda will no longer be fixing anything :)

[2017-06-12 03:03] abbeyjackson commented on #127
@GrfxGuru I'm closing this, feel free to use whatever method you want to track what's needed. Now that you're handling the team yourself though I don't think we need an open issue from me.

[2017-06-12 03:03] #127 closed

[2017-06-12 03:05] abbeyjackson commented on #38
Removing assignment and taking out of In Progress. @GrfxGuru is attempting to find freely available contracts we can use and we will pursue this again at a later time.

[2017-06-12 05:21] gabrielPeart commented on #89
I will have a look at it!

[2017-06-12 05:56] abbeyjackson commented on #97
Hey guys, we did some position renaming today so I just want to clear up
any confusion. Evan and Brandon you are Project Facilitators. Massimo heads
up the Product department and working with him is the Product Supervision
Team Lead, who was Ryan Patterson but will be Michael Campbell now. The
Product Supervisor is the one that approves the project specification
document. This position was previou

[2017-06-12 05:57] abbeyjackson commented on #175
Irma can you tag Alidia (I'm on my phone and don't know her GitHub
username) to find out where the google doc for this list is and then add
these there? Thanks! And great work!!
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-06-12 09:07] vitalii-tym commented on #89
@gabrielPeart, no worries. It's all up now.
I was surprised, but somehow I had access to add env variables to the org's Travis account for the iOS-Template project. So, with [these settings](https://travis-ci.org/CodeDoesGood/iOS-Template/settings) Travis, cocoapods-keys, and Danger are running fine now:

[2017-06-12 09:18] gabrielPeart commented on #89
@vitalii-tym great work! Thank you very much!

[2017-06-12 13:21] festrs commented on #89
@vitalii-tym Good job! Thanks for all!

[2017-06-13 04:21] abbeyjackson opened #203 "Make Fabric / Crashlytics team account"
We need a CodeDoesGood team account for our projects to hook into

[2017-06-13 04:22] abbeyjackson opened #204 "Make Google Play team account"
We need a CodeDoesGood team account for our projects to hook into

[2017-06-13 04:22] abbeyjackson opened #205 "Make team Apple account"
We need a CodeDoesGood team account for our projects to hook into

[2017-06-13 04:24] abbeyjackson commented on #200
Closed as duplicate

[2017-06-13 04:24] #200 closed

[2017-06-13 04:24] abbeyjackson commented on #157
@GrfxGuru not sure why but this was in the done column, just reopened it and closed the other one that you had made

[2017-06-14 04:29] northtwilight commented on #192
I meant the Dev Hatchery project...
https://github.com/orgs/CodeDoesGood/projects/9
- will fill this in tomorrow!

[2017-06-14 15:28] abbeyjackson commented on #192
Okay I'm still not completely clear. Is this issue to remind you to add something to the Dev Hatchery project board? (If so and it is supposed to be on the board it is currently on, which is the business board, the label should be "business" not dev hatchery as the dev hatchery label should only be used to identify items on the Dev Hatchery project board)

Or is this task supposed to say something

[2017-06-14 19:52] northtwilight commented on #192
<Or is this task supposed to say something like "Add a page to the dev hatchery wiki which contains design links" ? > yes.
<then this task is labelled properly but should be on the dev hatchery project board and not the business board. > I know, couldn't find it when I wrote it at the time (though now of course that's not an issue)
Anyway, it'll get sorted now.

[2017-06-14 20:22] #192 closed

[2017-06-18 19:43] irmattg commented on #177
@abbeyjackson

Completed :) Please let me know if any changes are necessary.
https://drive.google.com/file/d/0Bz3jsfRsa8bsSnVzLXVtVVlFV0k/view?usp=sharing

[2017-06-19 14:34] abbeyjackson commented on #177
@irmattg fantastic! Thank you! Only one change needed. When you load the video, before you press play, slide 2 is displayed. The slide that should be displayed is the first one with our name on it.

[2017-06-19 14:37] abbeyjackson commented on #177
@irmattg I'm just thinking now...the first slide "Who are we" is on screen for a really long time. Maybe we can add a few more in there that make sense? For example you could have "Low cost software for non-profits" as one. The issue I am seeing is that it's hard to keep attention for the length of time of that single screen, even I couldn't do it and it's my video. If you're not sure what other s

[2017-06-19 17:37] northtwilight commented on #97
Just to sum up the state of things:

1. Conceptual model of language learning app needs clarification, namely which model is being used, and what the theoretical / practical justifications for using it are.
2. Scope of app outlined in the document is much too broad and must be pared down to a workable app concept that can be done by a small team of developers with varying skill levels
3. Some tech

[2017-06-19 17:37] northtwilight commented on #111
Will keep working on this over the next few days

[2017-06-20 05:25] gabrielPeart commented on #40
@Doug-Luce we could try this one: https://www.npmjs.com/package/node-template
That also has support for Express and Bookshelf (if be necessary)

[2017-06-20 05:27] gabrielPeart commented on #205
@abbeyjackson I already have requested it to @98chimp
I'm waiting for his resolution.

[2017-06-20 05:27] gabrielPeart commented on #204
@abbeyjackson I already have requested it to @98chimp
I'm waiting for his resolution.

[2017-06-20 14:12] Doug-Luce commented on #40
That library looks promising. I'm not sure where we're at in the process of starting the website, but I would be happy to do some testing with it.

[2017-06-21 05:15] swiftcode commented on #187
Haven't gotten to this yet.  On my todo list

[2017-06-21 05:16] swiftcode commented on #186
On list for week of 06-21

[2017-06-21 05:20] swiftcode commented on #161
I have all the components completed.  Just need to write up the wiki and provide link to images.  WIP for week of 06-21

[2017-06-21 09:12] dimpiax commented on #116
So it's done or not?
We about swiftlint for Atom?

[2017-06-21 09:53] vitalii-tym commented on #109
Done for iOS Template project.
Still has to be done for Android and Web.

[2017-06-21 11:01] dimpiax commented on #40
@abbeyjackson I can be on this ticket.
But with remark, this is not Web Template.
This will be Server-side application template for Node.js.

[2017-06-21 12:28] dimpiax commented on #40
Here is boilerplate starter for Node.js + Express application.
https://github.com/dimpiax/node-express-boilerplate

[2017-06-21 17:08] abbeyjackson commented on #109
@vitaliy do we have anyone doing this for Android and Web?

[2017-06-21 17:24] Pahitos commented on #116
I was somehow missing these notifications, sorry about that.

The only part that I couldn't do is the 3rd and 4th point of project specific [Empty Lines and Line Breaks](https://github.com/CodeDoesGood/iOS-Template#empty-lines-and-line-breaks) rule:
[code]

[2017-06-21 17:30] Pahitos commented on #116
To me personally, this seems kind of vague and IMO something like this should be up to the programmer. But if someone can figure out how to make a rule that would satisfy this, that'd be fine too.
There's another similar rule for [closures](https://github.com/CodeDoesGood/iOS-Template#closures) (3rd example), which is even harder to implement.

[2017-06-21 17:35] dimpiax commented on #116
@Pahitos could you send you *lint* source file?

[2017-06-21 17:37] Pahitos commented on #116
It's been committed to the template already:
https://github.com/CodeDoesGood/iOS-Template/blob/master/iOS-Template/CodeDoesGood-iOSTemplate/.swiftlint.yml

[2017-06-21 17:39] dimpiax commented on #116
@Pahitos so this is not real-time checker?

[2017-06-21 17:44] Pahitos commented on #116
@dimpiax not sure what you mean by implementing it in Atom 🤔
It shows the errors in Xcode when you build the project. I was following [these](https://github.com/realm/SwiftLint#defining-custom-rules) instructions

[2017-06-21 17:45] dimpiax commented on #116
@Pahitos https://github.com/realm/SwiftLint#atom

[2017-06-21 18:07] alidiafindley commented on #165
Posted in Board of Directors Slack channel for review. Comments and suggestions due by 6/28, hoping to have changes incorporated by 7/1.

[2017-06-21 18:15] alidiafindley commented on #175
@abbeyjackson Sorry never got a notification for this -- just saw it in my audit! Went ahead and added the links to the doc right away.

On the Drive [here](https://docs.google.com/a/codedoesgood.org/document/d/1nXYpLzUcIOND38DDk7Z9glo7ZNVHIdlgpBx0GRrg58U/edit?usp=sharing).

[2017-06-21 18:15] #175 closed

[2017-06-21 18:25] Pahitos commented on #116
@dimpiax hmmm... Just installed this plugin and it works 🤔
What does this have to do with iOS-Template though?

[2017-06-21 18:27] alidiafindley opened #206 "Look into starting a podcast"
Peter suggested developing a start-up style CDG podcast to draw attention, including interviews and the like. First step is basic research:
What kinds of podcasts are out there?
Where would we fit into the market/how could we stand out?
What resources are needed?
Strategic analysis: how much do we expect it to impact sales and other measures?

Remaining in the icebox until we get some client proje

[2017-06-21 18:27] dimpiax commented on #116
Just to be sure that is works.

[2017-06-21 18:28] Pahitos commented on #116
Yup. As long as the plugin is installed, it should be all good 👍

[2017-06-21 18:32] alidiafindley commented on #184
Update: started by @s-tam ! Intro section complete so far. Can we get a rough estimate time of completion, Sarah?

Link [here](https://docs.google.com/a/codedoesgood.org/document/d/1MOoR_6R84bGR6bKrtoTolzKWJfK77J1tD8aS0QjCutQ/edit?usp=sharing).

[2017-06-21 18:34] alidiafindley commented on #183
Updating title to reflect split from general volunteers marketing package.

First draft has been completed [here](https://docs.google.com/a/codedoesgood.org/document/d/1-tdmxhWR6EuWKYNEOnpABR_4ZSid-c83YJrgKtQkp6A/edit?usp=sharing), being reviewed by stakeholders now.

[2017-06-21 18:35] alidiafindley commented on #185
Updating title to reflect shift in content/audience.

First draft has been completed [here](https://docs.google.com/a/codedoesgood.org/document/d/1Nhbv4KOSeUQXwJYvvgaRFYc5hXI8KHgzO8JoxaudV4I/edit?usp=sharing), being reviewed by stakeholders now.

[2017-06-21 18:37] alidiafindley commented on #182
Started, link [here](https://docs.google.com/a/codedoesgood.org/document/d/1vgLMMKLamGk_XyknoPMJVb1sgTRsB0UalWicinCqq0I/edit?usp=sharing)!

@s-tam could we get an estimate on this one as well?

[2017-06-21 18:39] alidiafindley commented on #136
@abbeyjackson Anything I can do to assist on this?

[2017-06-21 18:59] alidiafindley opened #207 "Promo/advertising video"
Would like to have a promotional video made with interviews from directors and volunteers to use in pitches and on social media.

Iceboxed until we recruit more video volunteers.

[2017-06-21 19:07] alidiafindley commented on #70
@kaychandotcom Couldn't find this in the Drive (not sure if I missed it, though!) so I created a Google Doc [here](https://docs.google.com/a/codedoesgood.org/document/d/1ew_Xh-kCJjyQ0je0E4qE26niOikntzkq3lGGKcupJxw/edit?usp=sharing). Would you like some volunteer support on this?

[2017-06-21 20:45] gabrielPeart commented on #40
@dimpiax @Doug-Luce let's use the following repo: https://github.com/CodeDoesGood/Web-Template

[2017-06-21 21:55] GrfxGuru commented on #172
I will work on this video this week to weekend.

[2017-06-21 21:55] GrfxGuru commented on #106
We have had some new business volunteers, but I think this ticket should stay open until our list of needed positions is filled.

[2017-06-21 21:56] GrfxGuru commented on #180
Posted to a couple more places, still actively looking.

[2017-06-21 21:56] GrfxGuru commented on #196
I have fallen behind on this one, am going to try and find a helper for it.

[2017-06-21 22:54] alidiafindley commented on #149
Reached out today for support on this from some devs and volunteers with experience in the process. Expecting their feedback to be completed by next weekend, 6/30.

[2017-06-21 23:06] alidiafindley commented on #191
@abbeyjackson Working on this now! Just on a first look there's a ton of grants and funds in the budget aimed towards groups that teach tech skills -- do you want information on all of them, or is there one in particular you had heard of? Either way I'll make sure we have info on all relevant ones for #168 .

Doc created [here](https://docs.google.com/a/codedoesgood.org/document/d/1CZkZN2wU1x_4pJ-

[2017-06-22 00:08] abbeyjackson commented on #116
Pavel we talked several times about the line breaks on Slack and I told you
it wasn't important :) but that if the Swiftlint default is different than
you need to edit the style guide to match Swiftlint.
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-06-22 00:10] abbeyjackson commented on #116
Dima Swiftlint is an add-in for Xcode that ensures every project adheres to
certain code formatting guidelines and best practices.
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-06-22 00:11] abbeyjackson commented on #136
No, there doesn't seem to be a way to get only one folder off of an iPhone.
I am not sure what we will do. He has 4000 photos in this folder we want to
be able to go through but around 15000 total on his phone so we can't
easily pick out the ones we want.
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-06-22 00:11] dimpiax commented on #116
@abbeyjackson I am about best practice to lint in realtime.

[2017-06-22 00:17] abbeyjackson commented on #191
I don't know about any specifically, just I read the announcement that new
money was being allocated in this domain. So lets say I want a list of all
of them :)

Also we should look for other grants like the ones that Facebook, Google
and other organizations give out.
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthab

[2017-06-22 00:18] abbeyjackson commented on #116
Swiftlint will give warnings and errors in Xcode at compile time. This is a
standard tool used in iOS development.
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-06-22 00:21] alidiafindley commented on #191
@abbeyjackson You got it! If it's alright with you then, I'll include all of the grant info in one document and merge this issue into the existing list of grants under #168 .

[2017-06-22 00:32] abbeyjackson commented on #191
Yeah perfect, you might as well close this issue.

Btw good job getting the hang of the boards so quickly!
--

Sincerely,

Abbey Jackson

604-600-1450 <javascript:void(0);>
https://github.com/abbeyjackson
http://ca.linkedin.com/in/earthabbey

[2017-06-22 00:33] alidiafindley commented on #191
Closing this since the info will be included in general grants list! See #168 . ☺️

[2017-06-22 00:33] #191 closed

[2017-06-22 00:34] alidiafindley commented on #168
Notes from the closing of #191 : also include new grant info announced in this year's Canadian budget related to teaching tech!

[2017-06-22 00:50] alidiafindley commented on #168
General status update: I've begun compiling potential grant sources and I've gone through the CBN grant offerings (also added the first potential grant). Still have a ways to go, but progress is being made!

Also just a general note: I'm hoping that we can get some of our new business volunteers involved in this if they join business ninjas!

[2017-06-22 02:51] GrfxGuru opened #208 "Update volunteer onboarding email templates."
Ensure email templates for onboarding volunteers are up to date with the latest correct information.

[2017-06-22 02:55] alidiafindley opened #209 "Guest appearances on podcasts"
It was suggested we reach out to tech or business podcasts to find ones that would be interested in doing a segment on CDG.

[2017-06-24 20:19] irmattg commented on #177
@abbeyjackson will return to the comment above once I finish up https://github.com/CodeDoesGood/business/issues/112

[2017-06-24 21:58] irmattg commented on #112
@abbeyjackson just finished up. the video total time is 16 mins, i cut out some parts. any "ums" or silences to make it a tad shorter. it's uploading now to my google drive and will post link here :) feel free to let me know if any changes or edits.

i was thinking of adding a screen recording of some of the pages in the wiki, but was thinking that it wouldn't fit since the volunteer watching will

[2017-06-25 17:43] irmattg commented on #112
@abbeyjackson Completed here https://drive.google.com/file/d/0Bz3jsfRsa8bsaGxSNXNKUmxhbVk/view?usp=sharing

[2017-06-25 21:07] abbeyjackson commented on #112
That's a great idea, why don't you go ahead and run with that? :)

[2017-06-26 11:00] iamthepanda commented on #112
@abbeyjackson @irmattg I have modified irma's video to further remove unnecessary bits("ums", "you knows", silences, repeated words, stutters). I have also added some pauses in certain areas for effect as well as for pacing. Total video time is now 15 minutes.
Video has been posted as an unlisted video on youtube and may be viewed [here](https://youtu.be/CtTdJRi0V5s)
I can upload it elsewhere as a

[2017-06-26 13:57] #208 closed

[2017-06-26 16:14] abbeyjackson commented on #112
@iamthepanda thanks for taking the initiative! Irma is still working on the video though so we can not use the edits you did (see the last comments where she suggests she will add more slides)

[2017-06-26 18:45] iamthepanda commented on #112
@abbeyjackson no problem. @irmattg just let me know if you'd like to collab.

[2017-06-29 16:52] alidiafindley commented on #149
Research completed, suggestions from volunteers incorporated! Prepared to send out for stakeholder review.

[2017-06-29 17:13] alidiafindley commented on #183
Peter and my comments were incorporated to the first draft today, and it was sent back to Susan to incorporate the last few needed changes before it's sent to a broader group.

[There seem to still be issues with her GitHub account, so I'll keep this updated for her until then.]

[2017-06-29 17:13] alidiafindley commented on #185
Peter and my comments were incorporated to the first draft today, and it was sent back to Susan to incorporate the last few needed changes before it's sent to a broader group.

[There seem to still be issues with her GitHub account, so I'll keep this updated for her until then.]

[2017-07-02 19:34] GrfxGuru commented on #190
I believe this is done. Closing out old ticket.

[2017-07-02 19:34] #190 closed

[2017-07-03 17:06] swiftcode opened #210 "Create a CDG Firebase account"
CDG will need a Firebase account for the projects.  Create one under the CDG organization.

[2017-07-05 18:02] swiftcode opened #211 "Create a wiki on how to organize an iOS project"
Create a wiki on some ways to keep an iOS project organized.

[2017-07-05 19:17] abbeyjackson commented on #211
@mpc Nice idea! I think this would be good to put in the DevHatchery wiki
since it will be informational/ideas vs specific guidelines that must be
followed.

[2017-07-06 23:40] irmattg commented on #112
@iamthepanda George that's awesome that you took time to further modify the video! Once I add in the extra slides, I can send it over to you if you'd like to make any changes.

[2017-07-09 04:51] GrfxGuru commented on #179
@kksai14 Please update this ticket with any new information on progress, thanks.

[2017-07-09 04:52] GrfxGuru commented on #196
Situation remains the same due to my attention on other tasks.

[2017-07-09 04:53] #181 closed

[2017-07-09 04:54] GrfxGuru commented on #106
@alidiafindley Do you feel this ticket should be closed or do you still require more volunteers?

[2017-07-09 15:46] irmattg commented on #177
@abbeyjackson uploading now to my Gdrive for review.

[2017-07-09 19:17] irmattg commented on #177
@abbeyjackson

Completed - https://drive.google.com/file/d/0Bz3jsfRsa8bsUmo1X1pSNU1UU00/view?usp=sharing

[2017-07-09 20:23] irmattg commented on #112
@abbeyjackson uploading right now to my gdrive

[2017-07-10 00:32] abbeyjackson commented on #177
@irmattg When I first open the link the screen is on point #2 (see below). Can you please make the default screen when the video is accessed the first screen? (the one with the company's name)

<img width="1234" alt="screen shot 2017-07-09 at 5 31 21 pm" src="https://user-images.githubusercontent.com/11657280/27999014-906f793a-64cc-11e7-812b-55e889604d0f.png">

[2017-07-10 00:33] abbeyjackson commented on #177
Otherwise it's great!

[2017-07-10 00:34] abbeyjackson commented on #177
I love the images you added :)

[2017-07-10 01:32] irmattg commented on #177
Awesome! @abbeyjackson I'll try and see if that's possible. I think that may just be a random slide that is picked when I uploaded to Gdrive. Will we be uploading these to a youtube channel? Or they'll go on the CDG drive?

[2017-07-10 02:51] abbeyjackson commented on #177
@irmattg this is fantastic, thank you! I'm closing the issue.

[2017-07-10 02:51] #177 closed

[2017-07-11 04:39] #136 closed

[2017-07-11 04:39] #117 closed

[2017-07-11 04:39] abbeyjackson commented on #112
Great job Irma!

[2017-07-11 04:39] #112 closed

[2017-09-08 13:06] swiftcode commented on #210
Completed

[2017-09-08 13:06] #210 closed

[2017-09-08 13:09] swiftcode commented on #134
Closing out an old ticket.  Was completed a long time ago, in a galaxy far, far away.

[2017-09-08 13:09] #134 closed

[2017-09-08 13:09] swiftcode commented on #125
Closing out old ticket.  Not a relevant issue, any longer.

[2017-09-08 13:09] #125 closed

[2017-09-08 13:10] #121 closed

[2017-09-08 13:11] swiftcode commented on #42
Will see if this is still needed and assign to an appropriate web developer.

[2017-09-08 13:13] swiftcode commented on #187
Not relevant any longer.  Closing.

[2017-09-08 13:13] #187 closed

[2017-09-08 13:26] swiftcode commented on #42
This was completed by the web group.

[2017-09-08 13:26] #42 closed

[2017-09-13 15:41] swiftcode commented on #186
Putting on hold.  Not relevant as the volunteer structure has changed.  Can reopen at a later point.

[2017-09-13 15:41] #186 closed

[2017-09-13 15:44] swiftcode commented on #161
Issue is not as relevant as it was previously.  Can reopen ticket if it becomes necessary.

[2017-09-13 15:44] #161 closed

[2017-09-13 15:45] swiftcode commented on #211
On hold.  09/13.  There may be a need for this, however the developers we have an experienced at iOS development and the decision on how the project should be laid out rests with the project lead.

[2017-09-13 15:45] #211 closed

[2017-09-13 18:08] DirkDeVisser commented on #150
Database design is done, other discussion about this should take place in [Mercury-Web](https://github.com/CodeDoesGood/Mercury-Web)

[2017-09-13 18:08] #150 closed

[2017-09-21 17:19] northtwilight commented on #205
Thank you Michael @mpc - will have a look this weekend (Sunday afternoon)
and get back to you. If there's an equivalent request on the Android side
(as you mentioned) please go ahead and assign it to me as well.

Cheers
Mass

On 21 September 2017 at 09:07, mpc <notifications@github.com> wrote:

[2018-04-09 22:26] chowdhurian opened #212 "Invitation to a roundtable discussion on mentorship"
Hello! 👋🏽

We got space and time for a roundtable discussion this weekend at [Conf & Coffee 2018](https://www.conf.coffee/) to further [earlier discussion](https://community.vancouvertech.com/t/mentorship-how-did-you-get-it-do-you-want-it-what-would-you-want-out-of-mentorship/26) about **mentorship**.

If anyone in CodeDoesGood is attending the Conf, I'd love to have you join the discussion. I hop